
@import './variables.css';

body{
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: clip;
}

html {
  font-size: 16px; /* oder 100% */
}

p{
  padding-inline: 1rem;
}



