---
import Layout from "../layouts/main.astro";
import wave from "../assets/wave.svg";
import { Image } from "astro:assets";
---

<section class="workflow">
  <Image src={wave} alt="Wellenförmiger Übergang" class="wave" />
  <h2>
    <span class="h2-span-work-1">GENUG GEREDET</span>
    <br />
    <span class="h2-span-work-2"
      >So arbeiten wir <span class="h2-highlight">zusammen!</span></span
    >
  </h2>

  <div class="steps">
    <section class="erstgespräch">
      <div class="text-block">
        <h3>
          Erstgespräch <br />
          <span class="sub-h3"
            >Kick-off-Meeting - Needs Assessment - User Research - KPIs</span
          >
        </h3>

        <div class="text">
          <svg
            width="178"
            height="48"
            viewBox="0 0 178 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-erst"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M77.5469 2.75391V5.50781H84.8906H92.2344V2.75391V0H84.8906H77.5469V2.75391ZM68 24.877V47H84.8906H101.781V24.877V2.75391H98.3848H94.9883V5.50781V8.26172H84.8906H74.793V5.50781V2.75391H71.3965H68V24.877ZM86.2676 13.2188V14.5957H84.8906H83.5137V13.2188V11.8418H84.8906H86.2676V13.2188ZM79.2218 16.4545L76.9044 18.7719L75.2295 17.097L73.5545 15.4221L74.5402 14.4365L75.5257 13.4509L76.2396 14.1606L76.9534 14.8703L78.282 13.5393L79.6106 12.2083L80.5749 13.1727L81.5393 14.137L79.2218 16.4545ZM95.8145 18.543V19.9199H89.6641H83.5137V18.543V17.166H89.6641H95.8145V18.543ZM86.2676 24.5098V25.8867H84.8906H83.5137V24.5098V23.1328H84.8906H86.2676V24.5098ZM79.729 26.4127L78.9739 27.1718L79.7043 27.9064L80.4347 28.6412L79.4739 29.6052L78.513 30.5693L77.7788 29.8351L77.0446 29.1008L76.2852 29.8563L75.5259 30.6117L74.5411 29.6269L73.5563 28.6421L74.3117 27.8827L75.0672 27.1234L74.3329 26.3891L73.5987 25.6549L74.5627 24.6941L75.5268 23.7333L76.2622 24.4643L76.9976 25.1954L77.7531 24.4399L78.5085 23.6844L79.4963 24.669L80.484 25.6537L79.729 26.4127ZM95.8145 29.834V31.2109H89.6641H83.5137V29.834V28.457H89.6641H95.8145V29.834ZM86.2676 35.709V37.0859H84.8906H83.5137V35.709V34.332H84.8906H86.2676V35.709ZM79.2222 38.8526L76.905 41.1697L75.2521 39.5187L73.5991 37.8677L74.5624 36.9045L75.5256 35.9413L76.2159 36.627L76.9062 37.3128L78.2588 35.9601L79.6114 34.6076L80.5753 35.5715L81.5393 36.5354L79.2222 38.8526ZM95.8145 41.0332V42.4102H89.6641H83.5137V41.0332V39.6562H89.6641H95.8145V41.0332Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M141.967 0.163158C137.963 0.88806 134.455 3.90565 133.148 7.74949C132.5 9.65302 132.347 11.9733 132.742 13.879C133.908 19.4982 139.039 23.4533 144.733 23.1226C149.775 22.8298 154.015 19.3512 155.324 14.4334C155.585 13.4547 155.621 13.1013 155.621 11.5733C155.621 10.0547 155.584 9.68923 155.331 8.73826C154.156 4.32946 150.783 1.11402 146.397 0.22007C145.068 -0.0507695 143.275 -0.073827 141.967 0.163158ZM163.628 14.3832C162.486 14.5091 161.515 14.7962 160.367 15.348C154.788 18.0277 152.954 25.145 156.543 30.1879C157.091 30.9574 158.326 32.1749 159.073 32.6824C159.882 33.2315 160.899 33.7058 161.964 34.0301C162.853 34.3008 163.131 34.3316 164.697 34.3333C166.77 34.3354 167.637 34.1432 169.287 33.3154L170.334 32.7903L172.549 34.9929C173.767 36.2043 174.925 37.2764 175.123 37.3753C175.857 37.7417 177.025 37.4618 177.491 36.8079C177.748 36.4469 177.997 35.6366 177.923 35.4019C177.897 35.318 177.842 35.0975 177.802 34.9119C177.749 34.6719 177.065 33.9086 175.433 32.2677L173.137 29.9611L173.689 28.8614C174.898 26.4514 175.092 23.7542 174.242 21.1923C173.463 18.8451 171.812 16.8371 169.646 15.6043C167.953 14.6409 165.608 14.165 163.628 14.3832ZM165.957 18.4452C168.693 19.0117 170.776 21.5772 170.769 24.3729C170.762 27.0258 168.92 29.4409 166.328 30.1958C165.361 30.4774 163.84 30.4495 162.897 30.1327C160.332 29.2701 158.727 27.0952 158.707 24.4517C158.69 22.2321 159.787 20.2691 161.677 19.1384C162.829 18.4492 164.595 18.1632 165.957 18.4452ZM130.625 25.5809C128.759 26.1001 127.158 27.4003 126.338 29.0632C125.949 29.8526 122.131 41.7525 122.022 42.517C121.916 43.2572 122.212 44.5495 122.657 45.2916C123.124 46.0681 123.73 46.5996 124.656 47.045L125.387 47.3966H144.114H162.841L163.488 47.0934C164.396 46.668 165.3 45.7764 165.739 44.8742C166.072 44.1894 166.098 44.0518 166.093 43.0101C166.087 41.9196 166.061 41.8064 165.237 39.2984L164.388 36.7115L163.303 36.5761C160.478 36.2234 157.973 35.0002 155.982 33.0011C154.402 31.4145 153.324 29.4963 152.789 27.3195L152.493 26.1173L151.892 26.3216C149.905 26.9973 146.876 27.4323 144.16 27.4323C140.844 27.4323 138.421 27.0454 135.51 26.0508C133.916 25.5063 133.751 25.4726 132.529 25.4427C131.633 25.4209 131.048 25.4634 130.625 25.5809Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.286 0.10367C13.2655 0.42976 12.5353 1.05923 12.0883 1.99825L11.8037 2.59582V7.838V13.0803L12.1047 13.6916C12.4795 14.4528 13.2052 15.1412 13.9415 15.4338C14.4409 15.6322 14.6187 15.6457 17.1819 15.6797L19.8939 15.7156L21.181 17.4284C21.8889 18.3704 22.6087 19.2349 22.7805 19.3494C23.1784 19.6147 23.8225 19.6281 24.2299 19.3796C24.3899 19.282 25.2094 18.4169 26.051 17.457L27.5813 15.7117L30.0811 15.677C32.4213 15.6447 32.6146 15.629 33.1092 15.4331C33.8452 15.1414 34.5709 14.4535 34.946 13.6916L35.2469 13.0803V7.838V2.59582L34.9622 1.99825C34.5922 1.22186 34.0454 0.672006 33.285 0.311716L32.6728 0.0216643L23.6632 0.00392105C16.5631 -0.0100529 14.5757 0.0110919 14.286 0.10367ZM2.76037 2.00542C1.75709 2.20253 0.812926 2.9448 0.33781 3.90993L0.0361741 4.52248V9.76475V15.0069L0.29552 15.5682C0.856318 16.7815 1.98187 17.5246 3.38074 17.6052L4.17321 17.6508L5.36835 19.2549C6.73836 21.0939 7.07989 21.4429 7.59454 21.5298C8.30721 21.6503 8.56168 21.4581 10.2973 19.4892L11.8848 17.6883L11.6604 17.5492C11.537 17.4727 11.1033 17.0762 10.6967 16.6682C10.1582 16.1278 9.85456 15.7265 9.57884 15.1908C8.83399 13.7435 8.86185 14.0241 8.86185 7.97397C8.86185 5.01599 8.89476 2.44073 8.93494 2.25107L9.00812 1.90631L6.08498 1.91643C4.47733 1.92194 2.98119 1.96193 2.76037 2.00542ZM38.1031 2.10664C38.1454 2.22404 38.1941 4.65248 38.2111 7.50317C38.2469 13.506 38.236 13.6282 37.5327 15.0529C37.1816 15.7641 36.9635 16.064 36.3582 16.6682C35.9492 17.0762 35.5136 17.4727 35.3903 17.5492L35.1659 17.6883L36.7534 19.4892C38.4871 21.4559 38.7439 21.6502 39.4529 21.5304C39.9746 21.4422 40.2963 21.1126 41.6434 19.286L42.8489 17.6516L43.6556 17.6055C44.2653 17.5708 44.5944 17.4994 45.003 17.3131C45.7132 16.9892 46.4269 16.2786 46.7552 15.5682L47.0145 15.0069V9.76475V4.52257L46.7135 3.91112C46.3393 3.15101 45.6134 2.46215 44.8768 2.16805C44.3683 1.96506 44.2296 1.95596 41.1873 1.92525L38.0261 1.89326L38.1031 2.10664ZM22.4235 22.635C21.9985 22.7153 21.4137 22.9248 20.8946 23.1825C19.0036 24.1213 17.7945 25.9515 17.6715 28.0616C17.5705 29.7943 18.1646 31.3217 19.4244 32.5684C20.6034 33.735 21.8834 34.2644 23.5253 34.2644C25.1673 34.2644 26.4473 33.735 27.6262 32.5684C28.2174 31.9834 28.4507 31.6693 28.7541 31.0494C29.5991 29.3233 29.6162 27.5259 28.8034 25.8548C27.6433 23.4694 25.0176 22.1443 22.4235 22.635ZM7.12374 25.5386C6.37255 25.6645 5.58523 26.1151 4.97313 26.7693C4.29162 27.4979 4.0274 28.1283 3.96571 29.1731C3.89143 30.4321 4.26294 31.3649 5.18632 32.2381C6.7333 33.7013 9.06649 33.6589 10.5887 32.14C12.1303 30.6019 12.1303 28.1873 10.5887 26.6492C9.99108 26.0528 9.30819 25.6909 8.50018 25.5419C7.8936 25.4302 7.7728 25.4299 7.12374 25.5386ZM38.4187 25.5667C36.8243 25.9131 35.6383 27.1604 35.3603 28.7834C35.1517 30.0008 35.5578 31.2379 36.4619 32.14C37.9841 33.6588 40.3174 33.7012 41.8644 32.2381C42.7143 31.4344 43.1073 30.5352 43.1073 29.3946C43.1073 28.2541 42.7143 27.3549 41.8644 26.5511C41.2844 26.0026 40.5915 25.6554 39.8272 25.5302C39.178 25.4238 39.0626 25.4268 38.4187 25.5667ZM4.05388 35.4643C3.08719 35.7176 2.33572 36.1518 1.59106 36.8872C0.444913 38.0192 -0.0547487 39.3773 0.00473264 41.1983C0.0394837 42.2613 0.134636 42.4843 0.724761 42.8859L1.02869 43.0928H5.42793H9.82716V42.3994C9.82716 40.3807 10.7259 38.3185 12.2776 36.777L13.0363 36.0232L12.5417 35.7892C11.5635 35.3264 11.1352 35.2808 7.80461 35.2848C5.0749 35.2881 4.64851 35.3085 4.05388 35.4643ZM35.5434 35.4224C35.2514 35.4931 34.7879 35.6573 34.5134 35.7871L34.0144 36.0232L34.7731 36.777C36.3248 38.3185 37.2235 40.3807 37.2235 42.3994V43.0928H41.6228H46.022L46.3259 42.8859C46.916 42.4843 47.0112 42.2613 47.046 41.1983C47.1053 39.3837 46.6125 38.0452 45.4598 36.8897C44.7069 36.135 43.9851 35.7221 42.9606 35.46C42.3191 35.296 41.9523 35.2791 39.1624 35.286C36.8528 35.2918 35.9405 35.3261 35.5434 35.4224ZM17.3267 37.3043C16.6558 37.4198 16.0038 37.6492 15.4351 37.9699C14.7072 38.3803 13.7913 39.3384 13.394 40.1049C12.84 41.174 12.769 41.6098 12.769 43.9428C12.769 45.9326 12.7766 46.0185 12.9759 46.3114C13.0897 46.4786 13.2995 46.7019 13.4423 46.8077C13.7019 47 13.702 47 23.5253 47C33.3487 47 33.3488 47 33.6084 46.8077C33.7512 46.7019 33.961 46.4786 34.0748 46.3114C34.2741 46.0185 34.2816 45.9326 34.2816 43.9428C34.2816 41.6113 34.2108 41.1759 33.6579 40.1049C33.2192 39.2554 32.2243 38.2585 31.4199 37.8626C30.1651 37.2448 30.4376 37.2668 23.8011 37.2456C20.4892 37.235 17.5757 37.2614 17.3267 37.3043Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Wir sprechen darüber, welche Emotionen und Botschaften du mit deinem
            Film vermitteln möchtest. Gemeinsam definieren wir, was du erreichen
            willst und wie dein Imagefilm aussehen soll.
          </p>
        </div>
      </div>

      <div class="number-1">1</div>
    </section>

    <section class="konzeption">
      <div class="text-block order-1">
        <h3>
          Skripting <br />
          <span class="sub-h3"
            >Visual Storytelling - Markenstimme - Creative Concept - Brand
            Awareness</span
          >
        </h3>

        <div class="text">
          <svg
            width="217"
            height="50"
            viewBox="0 0 217 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M3.87868 0.147329C2.37069 0.607726 1.10889 1.72925 0.432611 3.21063L0 4.15786L0.0449623 23.755L0.0897556 43.352L0.58922 44.2538C1.2261 45.4036 2.31579 46.3625 3.48126 46.7986C4.36198 47.128 4.7567 47.1409 13.9227 47.1409C22.9274 47.1409 23.4423 47.1248 23.332 46.8463C22.976 45.9477 22.7162 44.0979 22.8051 43.0961C22.9562 41.3954 23.2675 40.5715 25.4559 36.0822C29.7909 27.1888 30.6639 25.3966 32.2077 22.2182C34.0943 18.335 34.7549 17.487 36.6029 16.577C37.3288 16.2196 38.2136 15.9327 38.821 15.8577L39.8314 15.7331V9.84024V3.9472L39.4158 3.10522C38.8129 1.88384 37.6426 0.782353 36.4892 0.350753C35.5275 -0.00911099 35.4776 -0.0101212 19.9121 0.00436089C11.3254 0.0122755 4.11023 0.0766029 3.87868 0.147329ZM29.7313 11.0106C30.8816 11.4912 31.1458 13.109 30.2166 13.982L29.7847 14.3878H18.0808H6.37701L5.88563 13.8378C5.06975 12.9248 5.36023 11.491 6.45768 11.0138C7.27154 10.6598 28.8846 10.6568 29.7313 11.0106ZM28.4813 18.6998C29.2788 19.5534 29.0257 21.0666 28.0079 21.5303C27.7331 21.6555 24.2884 21.713 17.0731 21.713H6.53935L5.9668 21.1405C5.13997 20.3137 5.20666 19.2228 6.12964 18.4751C6.46155 18.2064 7.30774 18.184 17.2408 18.1804L27.9927 18.1767L28.4813 18.6998ZM38.4842 19.6653C38.1137 19.842 37.6063 20.2045 37.3568 20.471C37.0171 20.8333 33.0113 28.5612 33.0113 28.8541C33.0113 28.8825 31.6215 31.7394 29.9229 35.2028C28.2243 38.666 26.7374 41.7942 26.6185 42.1542C26.2507 43.2687 26.4873 44.9425 27.3458 47.3016C28.1776 49.5872 28.4983 49.9938 29.4748 50C30.3065 50.0052 34.0102 48.7373 34.9162 48.1373C36.0254 47.4026 36.3781 46.8521 38.3885 42.7195C39.3907 40.6594 41.1002 37.155 42.1876 34.9322C46.4655 26.1863 46.6949 25.6835 46.7798 24.8675C46.8842 23.8641 46.5071 22.8179 45.7645 22.0503C45.4454 21.7205 44.3493 21.0698 43.1151 20.4774C40.6693 19.3036 39.6264 19.1208 38.4842 19.6653ZM24.5718 25.6924C24.7875 25.8435 25.0733 26.2288 25.207 26.5487C25.5099 27.2738 25.2802 28.1116 24.6408 28.6146C24.2207 28.9452 23.9772 28.9541 15.3743 28.9541H6.53935L5.9668 28.3816C5.11387 27.5286 5.22265 26.3167 6.20693 25.7061C6.61108 25.4553 7.55596 25.4262 15.4184 25.4223C23.2504 25.4183 24.2213 25.4469 24.5718 25.6924ZM21.1562 33.2314C21.5649 33.6401 21.7287 33.9557 21.7287 34.3344C21.7287 34.9842 21.3318 35.7887 20.896 36.0217C20.6884 36.133 18.0452 36.1938 13.5305 36.1915C7.11291 36.1879 6.457 36.1618 6.12964 35.8968C5.20666 35.1491 5.13997 34.0582 5.9668 33.2314L6.53935 32.6588H13.5615H20.5836L21.1562 33.2314Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M201.085 0.106117C200.232 0.368897 199.303 1.13258 198.848 1.9443L198.411 2.72386V23.4883C198.411 46.5322 198.332 44.6509 199.349 45.8092C200.743 47.3969 203.307 47.3969 204.701 45.8092C205.718 44.6511 205.639 46.5163 205.639 23.6301C205.639 1.35567 205.68 2.53138 204.877 1.42399C204.114 0.371874 202.285 -0.263958 201.085 0.106117ZM196.143 6.34538C194.976 7.34221 192.867 8.83839 191.253 9.81524C186.974 12.4043 180.612 14.9501 176.76 15.614L176.229 15.7057V23.4992C176.229 29.6129 176.267 31.3036 176.406 31.3427C176.504 31.37 177.285 31.5587 178.142 31.7618C184.237 33.2054 191.111 36.5855 195.835 40.4627C196.445 40.9634 196.971 41.3458 197.005 41.3123C197.038 41.2789 197.049 33.2343 197.029 23.4353L196.993 5.61912L196.143 6.34538ZM210.135 11.585C208.032 12.6026 207.809 12.7458 207.618 13.2049C207.438 13.6353 207.435 13.7754 207.6 14.1691C208.095 15.3547 208.693 15.3187 211.551 13.9316C212.776 13.3371 213.876 12.7106 213.996 12.5394C214.346 12.0402 214.275 11.2564 213.841 10.8221C213.241 10.222 212.739 10.3252 210.135 11.585ZM162.56 16.1208C161.717 16.4501 160.761 17.3531 160.322 18.235C160.007 18.8678 160 18.9818 160 23.4883C160 27.8731 160.014 28.1258 160.298 28.7398C160.726 29.6648 161.397 30.368 162.248 30.7842C162.869 31.0881 163.216 31.1519 164.4 31.1798L165.811 31.213L165.848 23.5238L165.884 15.8345L164.572 15.8412C163.626 15.846 163.065 15.924 162.56 16.1208ZM167.192 23.5238L167.229 31.213H171.055H174.882L174.919 23.5238L174.956 15.8345H171.055H167.155L167.192 23.5238ZM210.352 22.3658C209.955 22.5968 209.649 23.3158 209.751 23.7783C209.801 24.0044 210.037 24.3542 210.277 24.5557L210.712 24.9221L213.468 24.8785L216.224 24.8348L216.566 24.4371C217.082 23.8363 216.982 22.8776 216.353 22.3944C216.067 22.1753 210.723 22.1498 210.352 22.3658ZM208.006 32.3446C207.647 32.6471 207.553 32.835 207.553 33.2492C207.553 33.5368 207.658 33.923 207.788 34.1074C207.926 34.3055 208.926 34.8797 210.233 35.5114C212.774 36.7407 213.32 36.8435 213.875 36.1982C214.312 35.6902 214.333 34.8668 213.921 34.4245C213.544 34.0195 209.623 32.1299 208.963 32.0351C208.56 31.9772 208.37 32.0387 208.006 32.3446ZM167.158 36.7478C167.158 41.3462 167.195 41.5772 167.987 41.9055C168.267 42.0216 169.037 42.063 170.329 42.0316C172.038 41.9902 172.285 41.9528 172.54 41.6973C172.749 41.4885 173.119 40.2446 173.889 37.1617C174.473 34.8253 174.951 32.8342 174.952 32.7367C174.953 32.5992 174.08 32.5595 171.055 32.5595H167.158V36.7478Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M81.6662 0.210342C79.7654 0.449877 77.1779 1.10633 75.5311 1.76722L74.1814 2.30844L74.1298 21.1944L74.0782 40.0803L76.0516 39.4237C79.2035 38.3751 81.5181 38.0516 85.9143 38.0458C90.8654 38.0389 94.5647 38.5265 99.5365 39.8412C100.576 40.1158 101.509 40.3406 101.611 40.3406C101.722 40.3406 101.776 32.7863 101.745 21.4359L101.693 2.53143L99.9736 2.05942C93.6825 0.332834 86.473 -0.395256 81.6662 0.210342ZM116.764 0.105406C112.442 0.627459 108.335 1.41548 105.697 2.22833L104.424 2.62042V21.4805C104.424 32.689 104.499 40.3406 104.608 40.3406C104.71 40.3406 105.643 40.117 106.682 39.8438C115.578 37.5038 123.941 37.3544 130.167 39.4243L132.14 40.0803L132.089 21.191L132.037 2.30158L130.386 1.65361C127.602 0.560665 125.238 0.161104 121.113 0.0860348C119.11 0.049711 117.153 0.0583869 116.764 0.105406ZM67 28.1318V47H103.109H139.218V28.1318V9.26364H136.993H134.768V26.0129C134.768 42.4932 134.761 42.7687 134.363 43.1658C133.829 43.6992 133.556 43.6772 132.183 42.9903C130.562 42.1792 128.306 41.4396 126.17 41.0187C123.94 40.5792 116.963 40.5237 114.438 40.9253C111.14 41.4497 107.853 42.1669 105.536 42.8674L103.154 43.5878L101.513 43.0845C95.0535 41.1034 87.6852 40.1903 82.4545 40.7226C79.1923 41.0548 76.0633 41.9449 73.5745 43.249C72.786 43.662 72.6217 43.652 71.9835 43.1511L71.4504 42.733V25.9982V9.26364H69.2252H67V28.1318ZM96.7369 10.2726C97.4798 11.0136 97.1249 12.1373 96.0653 12.399C95.8228 12.4589 91.6798 12.4817 86.8588 12.4496C78.4511 12.3939 78.0816 12.3756 77.8062 11.9998C77.4221 11.4756 77.4433 10.6908 77.854 10.2381C78.1687 9.89103 78.7289 9.86903 87.2606 9.86903C96.0627 9.86903 96.3443 9.88094 96.7369 10.2726ZM127.772 10.2537C128.286 10.8203 128.128 11.91 127.485 12.2325C127.103 12.4246 124.857 12.4872 118.258 12.4894C109.738 12.4924 109.524 12.4827 109.003 12.0741C108.362 11.5716 108.31 10.8359 108.874 10.2726C109.267 9.88094 109.549 9.86903 118.351 9.86903C127.017 9.86903 127.438 9.88619 127.772 10.2537ZM96.7369 15.7212C97.2109 16.194 97.2589 16.8965 96.8545 17.4484C96.5789 17.8245 96.2077 17.8423 87.5229 17.8966C77.3855 17.96 77.5192 17.9769 77.5192 16.6362C77.5192 15.2968 77.364 15.3176 87.3755 15.3176C96.0627 15.3176 96.3445 15.3297 96.7369 15.7212ZM127.643 15.6318C127.957 15.8512 128.092 16.1518 128.092 16.6293C128.092 17.9583 128.22 17.941 118.425 17.941C109.702 17.941 109.053 17.8956 108.625 17.2549C108.35 16.8446 108.467 16.128 108.874 15.7212C109.267 15.3297 109.549 15.3176 118.236 15.3176C126.015 15.3176 127.252 15.359 127.643 15.6318ZM96.3963 20.9982C97.2536 21.4484 97.4033 22.3212 96.7369 22.986C96.3445 23.3774 96.0627 23.3895 87.3755 23.3895C77.2694 23.3895 77.4409 23.4136 77.5586 22.0129C77.6046 21.468 77.75 21.2148 78.1261 21.0261C78.8189 20.6782 95.7376 20.6523 96.3963 20.9982ZM127.485 21.0261C127.861 21.2148 128.007 21.468 128.053 22.0129C128.171 23.4136 128.342 23.3895 118.236 23.3895C109.549 23.3895 109.267 23.3774 108.874 22.986C108.222 22.3354 108.355 21.4731 109.178 21.0073C109.785 20.6637 126.798 20.681 127.485 21.0261ZM96.7715 26.7505C97.257 27.1888 97.2419 27.9308 96.7369 28.4345C96.3445 28.826 96.0627 28.8381 87.2958 28.8381C79.1709 28.8381 78.2218 28.8044 77.8892 28.5041C77.4692 28.125 77.3934 27.0264 77.7619 26.6587C77.9436 26.4775 80.3185 26.4165 87.2031 26.4165C95.4785 26.4165 96.4388 26.45 96.7715 26.7505ZM127.849 26.6587C128.2 27.0084 128.148 28.039 127.757 28.469C127.443 28.8161 126.883 28.8381 118.351 28.8381C109.549 28.8381 109.267 28.8262 108.874 28.4345C108.382 27.9437 108.355 27.2818 108.805 26.7856C109.12 26.4383 109.685 26.4165 118.373 26.4165C125.285 26.4165 127.668 26.4775 127.849 26.6587Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Basierend auf deiner Vision erarbeiten wir ein Skript, das die
            GEschichte deines Unternehmens lebendig macht. In mehreren
            Feedback-Runden feilen wir daran, bis es genau deinen Vorstellungen
            entspricht.
          </p>
        </div>
      </div>

      <div class="number-1 order-2">2</div>
    </section>

    <section class="design">
      <div class="text-block">
        <h3>
          Videodreh <br />
          <span class="sub-h3"
            >Cinematography - Direktoriale Vision - Lichtdesign - High-Impact
            Visuals</span
          >
        </h3>

        <div class="text">
          <svg
            width="169"
            height="50"
            viewBox="0 0 169 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M21.7972 0.363113C21.4702 0.562515 21.1063 0.974832 20.9884 1.27944C20.7089 2.00099 19.7858 5.67613 19.7858 6.06702C19.7858 6.33804 20.9643 6.36931 31.1425 6.36931C37.3888 6.36931 42.5466 6.32202 42.6043 6.26411C42.7611 6.10756 41.4859 1.1974 41.1987 0.851292C40.5059 0.0166206 40.3011 -0.000752271 31.1361 1.98576e-05C22.9216 0.000598954 22.3556 0.022604 21.7972 0.363113ZM4.96537 8.5029C3.83806 8.72739 2.31619 9.58677 1.59869 10.4039C1.2717 10.7762 0.778306 11.5626 0.502077 12.1514L0 13.222V29.0506C0 44.1324 0.0173729 44.9292 0.368691 45.939C0.876752 47.3991 2.48954 49.0067 4.02125 49.5798L5.14431 50L31.527 49.949L57.9097 49.8981L58.8239 49.4437C60.0944 48.8125 61.2333 47.6458 61.8377 46.3569L62.3494 45.2653V29.1471V13.0289L61.8089 11.9281C61.1648 10.6164 59.789 9.32019 58.47 8.78221C57.5412 8.40329 57.0449 8.39557 31.6573 8.36739C17.4308 8.35156 5.41938 8.41256 4.96537 8.5029ZM35.6915 15.3252C40.6366 17.0092 44.2673 21.0257 45.4807 26.1551C45.8733 27.814 45.7832 31.1504 45.2996 32.8709C42.8871 41.4531 33.7393 46.0048 25.6617 42.6422C21.8184 41.0421 18.7166 37.6975 17.3534 33.6834C16.6523 31.6193 16.4925 28.3593 16.9826 26.124C17.9273 21.8159 20.7957 18.1389 24.7427 16.1771C27.1641 14.9735 28.6662 14.6612 31.6573 14.74C33.7623 14.7954 34.4124 14.8898 35.6915 15.3252ZM11.609 17.0749C12.6401 17.7972 12.6652 19.5042 11.657 20.3526C10.9866 20.9168 10.1927 20.9867 9.3582 20.5553C8.63916 20.1833 8.3969 19.7213 8.3969 18.7212C8.3969 17.577 9.1974 16.7931 10.366 16.7931C10.8281 16.7931 11.3875 16.9199 11.609 17.0749ZM29.0513 19.0259C27.0606 19.4569 25.4629 20.3495 23.92 21.8924C21.5314 24.2812 20.4469 27.4058 20.9079 30.5725C21.9547 37.7646 29.6725 41.7274 36.0814 38.3636C37.6359 37.5475 39.6515 35.5353 40.4005 34.0517C41.7421 31.3938 41.9546 28.2935 40.9763 25.6444C39.6992 22.1852 36.468 19.4934 32.912 18.9264C31.3127 18.6714 30.6037 18.6896 29.0513 19.0259ZM33.1668 21.1353C34.6887 21.5318 35.6971 22.079 36.7921 23.1035C38.5306 24.7298 39.4751 26.7744 39.4751 28.912C39.4751 29.844 39.4037 30.0293 38.8188 30.6142C37.9167 31.5162 36.9886 31.526 36.1092 30.6431C35.6214 30.1536 35.4585 29.7961 35.367 29.0155C35.0832 26.5946 33.8455 25.4202 31.132 24.9971C29.0919 24.6788 28.4184 22.2346 30.0901 21.2154C30.816 20.7726 31.6874 20.75 33.1668 21.1353Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M97.8032 0.0642339C89.3681 1.04821 83 8.13862 83 16.5466C83 19.6112 83.9695 22.5809 86.1609 26.2286C87.221 27.9932 87.8728 29.5051 88.391 31.4018C89.4118 35.1375 89.8276 35.9874 91.3938 37.5389C93.0539 39.1838 95.1726 40.045 97.559 40.045H98.8265L98.8217 32.6434C98.818 27.089 98.7755 25.172 98.6512 24.9623C98.56 24.8087 97.1961 22.9786 95.6203 20.8955C91.868 15.9352 91.9644 16.0753 92.0554 15.7128C92.1625 15.2859 94.4986 13.0308 94.8337 13.0308C94.9834 13.0308 95.5729 13.3992 96.1439 13.8494C96.7149 14.2996 97.243 14.668 97.3175 14.668C97.392 14.668 97.7638 14.392 98.1436 14.0547C99.0973 13.2076 99.4529 12.9946 99.7539 13.0903C99.896 13.1353 100.401 13.5089 100.876 13.9201C101.351 14.3314 101.806 14.668 101.888 14.668C101.97 14.668 102.404 14.3711 102.853 14.0082C103.724 13.3045 104.166 13.0308 104.43 13.0308C104.733 13.0308 107.149 15.5184 107.149 15.8302C107.149 16.135 107.038 16.2912 102.949 21.7209L100.464 25.0218V32.5334V40.045H101.649C103.151 40.045 104.335 39.7533 105.716 39.0426C107.08 38.3413 108.664 36.8225 109.368 35.5426C109.842 34.6806 109.994 34.2294 110.767 31.3897C111.249 29.6204 111.873 28.1596 112.836 26.5481C115.248 22.5114 116.154 19.7726 116.154 16.5158C116.154 13.8293 115.574 11.426 114.347 9.02749C112.029 4.49784 107.798 1.30129 102.783 0.29099C101.49 0.0303981 99.0467 -0.0807969 97.8032 0.0642339ZM94.388 15.4913C94.0691 15.8239 94.0204 15.951 94.1393 16.1393C94.2204 16.2681 95.3781 17.8163 96.7118 19.5797C98.0454 21.3431 99.2043 22.8933 99.2872 23.0247C99.3701 23.1561 99.4998 23.2608 99.5757 23.2576C99.7348 23.2507 105.103 16.1497 105.103 15.946C105.103 15.8049 104.396 15.0773 104.259 15.0773C104.216 15.0773 103.7 15.4457 103.113 15.8959C102.526 16.3462 101.937 16.7145 101.804 16.7145C101.671 16.7145 101.123 16.3362 100.586 15.874C99.9091 15.2918 99.5566 15.0716 99.4387 15.1577C99.3451 15.226 98.8841 15.6087 98.4145 16.0082C97.3841 16.8844 97.2755 16.8762 95.9533 15.8213C95.4405 15.4121 94.9677 15.0773 94.9026 15.0773C94.8377 15.0773 94.606 15.2635 94.388 15.4913ZM91.9365 42.0726C91.2273 42.5105 91.0078 42.8625 90.941 43.6693C90.8857 44.3356 90.9388 44.5465 91.3927 45.4649C92.1368 46.9706 93.3534 48.1458 95.0193 48.9681C96.5624 49.7297 97.756 50 99.5769 50C102.527 50 104.944 49.0099 106.709 47.0789C108.537 45.079 108.791 42.877 107.288 42.0728C106.841 41.8341 106.375 41.8186 99.5791 41.8192C92.7757 41.8196 92.3215 41.8347 91.9365 42.0726Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M137.419 0.0815409C137.374 0.126285 137.337 5.09869 137.337 11.1311V22.0992L138.287 22.2343C138.809 22.3086 139.554 22.4049 139.941 22.4486L140.646 22.5277V19.5769V16.626H152.778H164.91V19.5774V22.5289L165.615 22.4548C166.003 22.414 166.747 22.317 167.269 22.2392L168.219 22.0976V11.0487V0H152.86C144.412 0 137.463 0.0366751 137.419 0.0815409ZM137.337 27.6231V30.9182L137.735 30.9826C143.358 31.8908 150.437 32.2961 156.423 32.0524C160.608 31.882 165.72 31.4021 167.882 30.9763L168.219 30.9099V27.6189C168.219 25.8087 168.204 24.3278 168.185 24.3278C168.167 24.3278 167.376 24.4366 166.43 24.5697C161.818 25.2177 158.028 25.4683 152.839 25.4686C147.532 25.469 143.091 25.1669 138.702 24.5069C138.052 24.4092 137.479 24.3289 137.429 24.3285C137.378 24.3282 137.337 25.8107 137.337 27.6231ZM138.44 33.4199C138.44 33.445 140.893 34.8616 143.891 36.5679C146.89 38.2741 149.344 39.7048 149.345 39.7471C149.346 39.8074 146.124 41.6954 144.874 42.3666C143.04 43.3511 136.602 47.1178 136.602 47.2058C136.602 47.3574 137.921 49.651 138.112 49.8307C138.219 49.932 140.016 48.962 145.18 46.0146C148.988 43.841 152.269 41.9744 152.472 41.8666L152.839 41.6706L159.518 45.4784C163.192 47.5727 166.48 49.4468 166.825 49.6432L167.452 50L168.282 48.5689C168.939 47.4379 169.077 47.1165 168.942 47.0355C168.731 46.9094 159.631 41.7278 157.653 40.6079C156.566 39.9923 156.253 39.7615 156.366 39.6591C156.448 39.5846 157.95 38.7099 159.702 37.7153C161.455 36.7208 163.868 35.351 165.064 34.6713C166.555 33.8247 167.16 33.4227 166.986 33.3952C166.846 33.3731 165.866 33.4664 164.81 33.6024C163.753 33.7386 162.089 33.9147 161.111 33.9939L159.334 34.1378L156.133 35.9566C154.373 36.9569 152.876 37.7753 152.807 37.7753C152.739 37.7753 151.25 36.9578 149.499 35.9588L146.316 34.1422L144.492 33.9927C143.489 33.9104 141.841 33.738 140.83 33.6095C139.003 33.3773 138.44 33.3326 138.44 33.4199Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Je nach Umfang des Films führen wir einen oder mehrere Drehtage
            durch - mit hochwertiger Technik, um das Skript perfekt umzusetzen
            und das Bild zu bekommen, das deine Message stark transportiert
          </p>
        </div>
      </div>

      <div class="number-1">3</div>
    </section>

    <section class="konzeption">
      <div class="text-block order-1">
        <h3>
          <span class="launch"> Post Production <br /></span>
          <span class="sub-h3"
            >Motion Graphics - Visual Effects - Audiobearbeitung - Colorgrading</span
          >
        </h3>

        <div class="text">
          <svg
            width="197"
            height="50"
            viewBox="0 0 197 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M32.9746 0.197153C28.7043 1.17818 25.1824 3.90961 23.2717 7.72217C22.9866 8.29116 22.7531 8.85235 22.7529 8.96924C22.7528 9.13286 23.2056 9.1701 24.7127 9.13119C32.2532 8.93565 38.7401 14.0029 40.5708 21.5185C40.8428 22.6355 40.928 23.5055 40.9298 25.186C40.9311 26.3979 40.9641 27.3892 41.0031 27.3892C41.3084 27.3892 44.1601 25.7198 44.9921 25.0538C47.1095 23.3593 48.9139 20.5494 49.6322 17.8283C50.0557 16.2242 50.0622 12.1443 49.6437 10.6154C48.2383 5.48026 44.7515 1.84795 39.8798 0.44424C38.2792 -0.017011 34.4959 -0.15236 32.9746 0.197153ZM23.4184 10.9348C19.3255 11.4039 15.398 13.819 13.198 17.2199C12.5592 18.2076 11.779 19.7411 11.779 20.0097C11.779 20.0511 12.4338 20.0363 13.2339 19.9766C16.5578 19.7292 20.3908 20.8688 23.3352 22.9802C24.501 23.8161 26.6177 25.9674 27.3857 27.0967C28.2042 28.3004 29.1945 30.4828 29.5934 31.9618C29.8792 33.0211 29.9557 33.793 29.9693 35.7521L29.9863 38.212L30.402 38.1117C31.0608 37.9526 33.1186 36.7263 34.2136 35.8404C37.6942 33.0241 39.5999 28.1742 39.0389 23.5603C38.5908 19.8745 37.1455 16.9663 34.5471 14.522C31.7505 11.8911 27.3769 10.4814 23.4184 10.9348ZM12.6104 21.8317C8.1695 22.6204 5.34678 24.2067 2.87708 27.3021C1.97137 28.4374 0.773181 30.827 0.374284 32.2943C0.00348696 33.6577 -0.123216 36.9528 0.138005 38.4336C0.651134 41.3421 1.98717 43.9039 4.04667 45.929C6.82482 48.6606 10.1898 50.0065 14.2246 50C19.8614 49.9908 24.3297 47.1919 26.8287 42.1047C29.4005 36.8694 28.4288 30.668 24.3487 26.277C21.6964 23.4225 18.5663 21.9667 14.7737 21.8239C13.8124 21.7877 12.839 21.7912 12.6104 21.8317Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M163.304 0.0720703C155.498 0.672067 147.94 5.21337 143.78 11.8042C136.574 23.2198 139.98 38.5233 151.367 45.8907C157.688 49.981 165.97 51.1191 172.882 48.8473C175.822 47.8812 178.145 46.4737 179.963 44.5578C182.287 42.1086 183.25 39.6008 183.125 36.3246C183.02 33.5758 182.449 32.4911 179.529 29.4878C176.733 26.612 176.211 25.626 176.704 24.1484C176.999 23.2595 177.79 22.2735 179.692 20.4215C182.208 17.9711 183.013 16.4089 183.121 13.769C183.191 12.05 183 10.7439 182.472 9.33913C181.315 6.26105 178.38 3.44025 174.68 1.84866C171.355 0.418941 167.212 -0.228274 163.304 0.0720703ZM190.932 0.277977C190.329 0.548135 189.984 0.855956 189.726 1.35431C189.071 2.61842 188.168 17.7043 188.491 21.9793L188.594 23.3294H191.693H194.792L194.888 22.8948C195.063 22.0997 194.976 14.7239 194.751 11.2824C194.306 4.4648 193.977 1.57476 193.588 1.04414C192.953 0.179663 191.856 -0.136606 190.932 0.277977ZM160.028 8.79632C161.142 9.21242 162.317 10.3745 162.75 11.4901C163.959 14.6051 161.885 17.9867 158.577 18.2948C154.112 18.7106 151.476 13.3819 154.497 10.0466C155.903 8.49376 157.967 8.02725 160.028 8.79632ZM173.174 8.73581C174.52 9.25867 175.571 10.3203 176.083 11.6764C176.5 12.7792 176.419 14.5132 175.904 15.5058C175.331 16.6101 174.627 17.3188 173.608 17.8194C172.763 18.2345 172.568 18.2748 171.428 18.2705C170.348 18.2666 170.066 18.2131 169.382 17.882C168.34 17.3775 167.4 16.4485 166.939 15.467C166.617 14.7822 166.566 14.497 166.566 13.3595C166.566 12.2012 166.612 11.9504 166.952 11.2597C167.61 9.92458 168.903 8.87968 170.348 8.51633C171.053 8.33936 172.428 8.44626 173.174 8.73581ZM157.532 11.832C157.024 12.0371 156.503 12.7846 156.503 13.3077C156.503 14.3136 157.214 15.0212 158.226 15.0212C158.871 15.0212 159.631 14.3703 159.754 13.712C159.991 12.4558 158.698 11.3618 157.532 11.832ZM170.724 11.8925C170.156 12.1393 169.828 12.676 169.828 13.3595C169.828 14.63 171.065 15.3928 172.187 14.8143C172.762 14.5173 173.021 14.0766 173.021 13.393C173.021 12.6641 172.697 12.1379 172.095 11.8867C171.538 11.6546 171.269 11.6559 170.724 11.8925ZM153.514 20.3324C155.624 21.296 156.865 23.6951 156.364 25.8419C155.99 27.4451 154.966 28.7043 153.473 29.397C152.816 29.7016 152.489 29.7624 151.505 29.7624C150.522 29.7624 150.195 29.7016 149.538 29.397C148.437 28.8866 147.565 28.0352 147.029 26.9496C146.626 26.1325 146.578 25.9101 146.581 24.8555C146.583 23.8782 146.646 23.542 146.947 22.8974C148.138 20.3423 151.047 19.2059 153.514 20.3324ZM150.881 23.316C150.391 23.5308 149.958 24.1182 149.886 24.666C149.806 25.2758 150.226 26.0339 150.816 26.3446C151.356 26.6292 152.176 26.4629 152.672 25.968C153.037 25.6042 153.102 25.436 153.102 24.8526C153.102 24.2692 153.037 24.101 152.672 23.7372C152.214 23.28 151.4 23.0886 150.881 23.316ZM188.895 27.0335C188.935 27.2429 189.043 28.0495 189.136 28.8259L189.305 30.2375L189.734 30.1414C190.294 30.0162 193.092 30.0172 193.654 30.1426L194.09 30.2401L194.236 29.1733C194.317 28.5868 194.423 27.7795 194.473 27.3797L194.563 26.6527H191.693H188.823L188.895 27.0335ZM160.307 31.8978C162.069 32.7632 163.072 34.377 163.072 36.3457C163.072 37.8119 162.673 38.7758 161.639 39.8075C160.428 41.0149 158.84 41.5154 157.248 41.1915C155.617 40.8598 154.329 39.8394 153.61 38.3086C153.292 37.6317 153.242 37.3501 153.251 36.2765C153.259 35.3312 153.331 34.8799 153.547 34.4071C154.753 31.7702 157.768 30.651 160.307 31.8978ZM173.445 31.8057C174.508 32.2997 175.253 32.9976 175.807 34.0158C176.259 34.8473 176.283 34.962 176.283 36.2765C176.283 37.4854 176.236 37.7606 175.915 38.4443C175.44 39.4562 174.568 40.2956 173.437 40.8307C172.656 41.2004 172.386 41.2568 171.419 41.2516C170.473 41.2465 170.167 41.1816 169.407 40.825C168.315 40.3132 167.467 39.491 166.952 38.4455C166.612 37.7548 166.566 37.5041 166.566 36.3457C166.566 35.2094 166.617 34.9228 166.937 34.2415C167.568 32.899 168.824 31.8726 170.314 31.4821C171.112 31.2728 172.638 31.4306 173.445 31.8057ZM190.826 33.3068C189.322 33.603 187.943 34.6425 187.255 35.9998C186.482 37.5246 186.618 39.4875 187.731 42.8539C188.369 44.7809 189.848 48.3038 190.324 49.029C190.809 49.7674 191.78 49.9759 192.55 49.5074C193.119 49.1608 193.225 48.9455 193.408 47.7606C193.573 46.6961 193.926 45.7815 195.199 43.1308C196.179 41.0903 196.459 40.2804 196.594 39.0929C196.934 36.1181 195.322 33.8271 192.527 33.3117C191.621 33.1446 191.65 33.1447 190.826 33.3068ZM157.303 34.9008C156.826 35.1589 156.503 35.7687 156.503 36.4101C156.503 36.7764 156.622 37.0335 156.965 37.4071C157.358 37.8347 157.521 37.9125 158.047 37.9243C159.66 37.9603 160.391 36.153 159.189 35.1005C158.65 34.6279 157.945 34.5534 157.303 34.9008ZM170.566 34.9461C169.996 35.3031 169.828 35.6305 169.828 36.3856C169.828 37.8396 171.544 38.4907 172.599 37.4376C172.955 37.0832 173.021 36.9096 173.021 36.3373C173.021 35.7896 172.946 35.574 172.635 35.2265C172.125 34.6579 171.221 34.5354 170.566 34.9461Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M95.8898 0.179513C95.5494 0.364178 95.3957 0.637865 94.8577 2.01844C93.697 4.99675 91.6877 7.61308 89.2027 9.38212C88.408 9.94776 88.1605 10.3143 88.1605 10.9259C88.1605 11.4744 88.4627 11.8961 89.2462 12.4412C90.2749 13.157 91.9104 14.7602 92.7277 15.8541C93.6656 17.1091 94.2063 18.0879 94.8547 19.7038C95.5227 21.3687 95.8214 21.6989 96.6592 21.6989C97.4905 21.6989 97.82 21.351 98.4013 19.8596C99.5973 16.7912 101.419 14.4073 104.051 12.4653C104.799 11.9134 105.017 11.679 105.129 11.3045C105.355 10.5551 105.083 10.0879 103.937 9.24871C101.47 7.44289 99.763 5.18338 98.4752 2.01844C97.7842 0.319912 97.5008 -0.00723716 96.7273 0.000120016C96.4437 0.00281765 96.067 0.0835014 95.8898 0.179513ZM105.67 2.46502C105.015 2.63914 104.693 3.10436 104.693 3.87772C104.693 4.48457 104.733 4.58818 105.095 4.91006C105.808 5.54559 106.981 5.32917 107.381 4.48837C107.627 3.9714 107.631 3.78306 107.408 3.25052C107.151 2.63791 106.362 2.28109 105.67 2.46502ZM83.1336 12.9622C82.8804 13.2156 82.5726 13.9648 81.8962 15.9737C81.3581 17.5716 80.7129 19.206 80.293 20.0349C78.3264 23.9161 75.6963 26.7776 71.7508 29.3284C70.2956 30.2693 70.089 30.4797 70.0131 31.1004C69.9246 31.8229 70.2673 32.2393 71.5895 33.0156C75.3818 35.242 78.6608 38.8228 80.4832 42.7282C81.0957 44.0408 81.5695 45.3308 82.2616 47.5716C82.8467 49.4656 83.1344 49.8773 83.9493 49.9863C84.5612 50.0682 85.1124 49.7794 85.3826 49.2356C85.4854 49.0286 85.8819 47.8668 86.2634 46.6538C87.0898 44.027 87.7705 42.4393 88.8071 40.7214C90.6924 37.597 93.2717 35.02 96.4373 33.0981C97.7194 32.3197 98.117 31.899 98.117 31.3209C98.117 30.5631 97.8842 30.301 96.2791 29.2521C92.8972 27.0423 90.6435 24.7249 88.6531 21.4105C87.7789 19.9548 87.1262 18.4207 86.1941 15.6304C85.2729 12.8729 85.1006 12.625 84.1042 12.625C83.5768 12.625 83.4143 12.6814 83.1336 12.9622ZM109.075 12.9355C108.788 13.1757 108.618 13.5231 108.323 14.4716C107.095 18.4162 104.744 21.3728 101.226 23.4002C100.176 24.0054 99.9608 24.2739 99.9608 24.9799C99.9608 25.7005 100.21 26.0249 101.163 26.5475C104.589 28.4262 106.938 31.3248 108.258 35.3026C108.867 37.136 109.28 37.5407 110.341 37.3422C110.957 37.2268 111.297 36.7341 111.751 35.2952C112.953 31.4944 115.281 28.6204 118.767 26.6358C119.578 26.1743 119.863 25.9395 120.037 25.5872C120.471 24.713 120.098 24.0634 118.736 23.3171C116.165 21.9077 113.969 19.6118 112.621 16.9224C112.402 16.4871 112.015 15.4946 111.759 14.7169C111.186 12.9779 110.895 12.625 110.029 12.625C109.583 12.625 109.357 12.6985 109.075 12.9355ZM74.7332 13.5527C74.3111 13.7812 74.0248 14.3212 74.0248 14.8892C74.0248 15.2113 74.1299 15.4406 74.4244 15.7612C75.1775 16.581 76.3817 16.379 76.8078 15.3614C77.0694 14.737 76.9384 14.1976 76.4136 13.7379C75.9259 13.3107 75.3062 13.2424 74.7332 13.5527ZM97.4868 40.1757C96.5318 40.7669 96.5343 41.9889 97.4916 42.6325C98.0028 42.9761 98.4239 42.9862 98.9483 42.6672C99.8388 42.1256 99.9356 41.0312 99.1537 40.3464C98.658 39.9122 98.0182 39.8467 97.4868 40.1757Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Jetzt wird alles zusammengeführt: Schnitt, Visual Effects,
            Colorgrading und Sounddesign. Damit dein Imagefilm nicht nur gut
            aussieht, sondern auch mit der richtigen Atmosphäre und Stimmung
            überzeugt.
          </p>
        </div>
      </div>
      <div class="number-1">4</div>
    </section>
    <section class="konzeption">
      <div class="text-block">
        <h3>
          <span class="launch"> Meetings <br /></span>
          <span class="sub-h3"
            >Feedbackschleifen - Echtzeit Collaboration - Visuelle
            Zwischenstände</span
          >
        </h3>

        <div class="text">
          <svg
            width="186"
            height="47"
            viewBox="0 0 186 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.286 0.10367C13.2655 0.42976 12.5353 1.05923 12.0883 1.99825L11.8037 2.59582V7.838V13.0803L12.1047 13.6916C12.4795 14.4528 13.2052 15.1412 13.9415 15.4338C14.4409 15.6322 14.6187 15.6457 17.1819 15.6797L19.8939 15.7156L21.181 17.4284C21.8889 18.3704 22.6087 19.2349 22.7805 19.3494C23.1784 19.6147 23.8225 19.6281 24.2299 19.3796C24.3899 19.282 25.2094 18.4169 26.051 17.457L27.5813 15.7117L30.0811 15.677C32.4213 15.6447 32.6146 15.629 33.1092 15.4331C33.8452 15.1414 34.5709 14.4535 34.946 13.6916L35.2469 13.0803V7.838V2.59582L34.9622 1.99825C34.5922 1.22186 34.0454 0.672006 33.285 0.311716L32.6728 0.0216643L23.6632 0.00392105C16.5631 -0.0100529 14.5757 0.0110919 14.286 0.10367ZM2.76037 2.00542C1.75709 2.20253 0.812926 2.9448 0.33781 3.90993L0.0361741 4.52248V9.76475V15.0069L0.29552 15.5682C0.856318 16.7815 1.98187 17.5246 3.38074 17.6052L4.17321 17.6508L5.36835 19.2549C6.73836 21.0939 7.07989 21.4429 7.59454 21.5298C8.30721 21.6503 8.56168 21.4581 10.2973 19.4892L11.8848 17.6883L11.6604 17.5492C11.537 17.4727 11.1033 17.0762 10.6967 16.6682C10.1582 16.1278 9.85456 15.7265 9.57884 15.1908C8.83399 13.7435 8.86185 14.0241 8.86185 7.97397C8.86185 5.01599 8.89476 2.44073 8.93494 2.25107L9.00812 1.90631L6.08498 1.91643C4.47733 1.92194 2.98119 1.96193 2.76037 2.00542ZM38.1031 2.10664C38.1454 2.22404 38.1941 4.65248 38.2111 7.50317C38.2469 13.506 38.236 13.6282 37.5327 15.0529C37.1816 15.7641 36.9635 16.064 36.3582 16.6682C35.9492 17.0762 35.5136 17.4727 35.3903 17.5492L35.1659 17.6883L36.7534 19.4892C38.4871 21.4559 38.7439 21.6502 39.4529 21.5304C39.9746 21.4422 40.2963 21.1126 41.6434 19.286L42.8489 17.6516L43.6556 17.6055C44.2653 17.5708 44.5944 17.4994 45.003 17.3131C45.7132 16.9892 46.4269 16.2786 46.7552 15.5682L47.0145 15.0069V9.76475V4.52257L46.7135 3.91112C46.3393 3.15101 45.6134 2.46215 44.8768 2.16805C44.3683 1.96506 44.2296 1.95596 41.1873 1.92525L38.0261 1.89326L38.1031 2.10664ZM22.4235 22.635C21.9985 22.7153 21.4137 22.9248 20.8946 23.1825C19.0036 24.1213 17.7945 25.9515 17.6715 28.0616C17.5705 29.7943 18.1646 31.3217 19.4244 32.5684C20.6034 33.735 21.8834 34.2644 23.5253 34.2644C25.1673 34.2644 26.4473 33.735 27.6262 32.5684C28.2174 31.9834 28.4507 31.6693 28.7541 31.0494C29.5991 29.3233 29.6162 27.5259 28.8034 25.8548C27.6433 23.4694 25.0176 22.1443 22.4235 22.635ZM7.12374 25.5386C6.37255 25.6645 5.58523 26.1151 4.97313 26.7693C4.29162 27.4979 4.0274 28.1283 3.96571 29.1731C3.89143 30.4321 4.26294 31.3649 5.18632 32.2381C6.7333 33.7013 9.06649 33.6589 10.5887 32.14C12.1303 30.6019 12.1303 28.1873 10.5887 26.6492C9.99108 26.0528 9.30819 25.6909 8.50018 25.5419C7.8936 25.4302 7.7728 25.4299 7.12374 25.5386ZM38.4187 25.5667C36.8243 25.9131 35.6383 27.1604 35.3603 28.7834C35.1517 30.0008 35.5578 31.2379 36.4619 32.14C37.9841 33.6588 40.3174 33.7012 41.8644 32.2381C42.7143 31.4344 43.1073 30.5352 43.1073 29.3946C43.1073 28.2541 42.7143 27.3549 41.8644 26.5511C41.2844 26.0026 40.5915 25.6554 39.8272 25.5302C39.178 25.4238 39.0626 25.4268 38.4187 25.5667ZM4.05388 35.4643C3.08719 35.7176 2.33572 36.1518 1.59106 36.8872C0.444913 38.0192 -0.0547487 39.3773 0.00473264 41.1983C0.0394837 42.2613 0.134636 42.4843 0.724761 42.8859L1.02869 43.0928H5.42793H9.82716V42.3994C9.82716 40.3807 10.7259 38.3185 12.2776 36.777L13.0363 36.0232L12.5417 35.7892C11.5635 35.3264 11.1352 35.2808 7.80461 35.2848C5.0749 35.2881 4.64851 35.3085 4.05388 35.4643ZM35.5434 35.4224C35.2514 35.4931 34.7879 35.6573 34.5134 35.7871L34.0144 36.0232L34.7731 36.777C36.3248 38.3185 37.2235 40.3807 37.2235 42.3994V43.0928H41.6228H46.022L46.3259 42.8859C46.916 42.4843 47.0112 42.2613 47.046 41.1983C47.1053 39.3837 46.6125 38.0452 45.4598 36.8897C44.7069 36.135 43.9851 35.7221 42.9606 35.46C42.3191 35.296 41.9523 35.2791 39.1624 35.286C36.8528 35.2918 35.9405 35.3261 35.5434 35.4224ZM17.3267 37.3043C16.6558 37.4198 16.0038 37.6492 15.4351 37.9699C14.7072 38.3803 13.7913 39.3384 13.394 40.1049C12.84 41.174 12.769 41.6098 12.769 43.9428C12.769 45.9326 12.7766 46.0185 12.9759 46.3114C13.0897 46.4786 13.2995 46.7019 13.4423 46.8077C13.7019 47 13.702 47 23.5253 47C33.3487 47 33.3488 47 33.6084 46.8077C33.7512 46.7019 33.961 46.4786 34.0748 46.3114C34.2741 46.0185 34.2816 45.9326 34.2816 43.9428C34.2816 41.6113 34.2108 41.1759 33.6579 40.1049C33.2192 39.2554 32.2243 38.2585 31.4199 37.8626C30.1651 37.2448 30.4376 37.2668 23.8011 37.2456C20.4892 37.235 17.5757 37.2614 17.3267 37.3043Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M112.433 0.0786481C112.159 0.175231 97.1381 15.1534 96.9368 15.5311C96.6938 15.9873 96.6929 18.6565 96.9356 19.1248C97.2098 19.6536 97.5853 19.7483 99.4093 19.7483H101.073L108.818 12.0217L116.564 4.29522V3.71415C116.564 3.14349 116.542 3.11114 115.379 1.91033C113.655 0.130393 113.16 -0.17717 112.433 0.0786481ZM72.0414 5.02208C71.9746 5.04365 71.6193 5.15368 71.2518 5.26662C69.8358 5.70204 68.3782 6.95931 67.6674 8.35849C66.9847 9.70254 67 9.38431 67 22.2137C67 30.3765 67.0416 34.2348 67.1343 34.6782C67.5656 36.7413 69.1694 38.5283 71.2655 39.2814C72.0306 39.5563 72.1272 39.5606 78.2065 39.5983L84.3716 39.6365V42.8523C84.3716 45.6352 84.3988 46.1142 84.5739 46.4098C84.9426 47.0324 85.6215 47.177 86.2843 46.7738C86.501 46.642 88.7531 44.979 91.2888 43.0782L95.8992 39.6223L102.132 39.6203C107.034 39.6186 108.537 39.5816 109.175 39.4467C111.577 38.9388 113.565 36.9422 114.007 34.5932C114.105 34.0767 114.134 30.4525 114.109 22.078L114.073 10.2899L108.485 15.872C103.548 20.804 102.806 21.4995 102.11 21.8434L101.323 22.2325H99.2552C97.2781 22.2325 97.1581 22.2186 96.5087 21.9149C95.6263 21.5022 94.8835 20.7223 94.5658 19.8753C94.3394 19.2715 94.3181 18.9916 94.3544 17.083C94.3915 15.1322 94.4178 14.9177 94.6812 14.4162C94.867 14.0627 96.5318 12.3045 99.4147 9.41739L103.862 4.96391L88.0122 4.97348C79.2951 4.97869 72.1082 5.00063 72.0414 5.02208ZM88.8438 12.6587C89.2819 13.0265 89.4071 13.4592 89.2301 13.9944C88.9607 14.8085 89.2279 14.7801 81.8552 14.7759C74.7346 14.7718 75.0262 14.7972 74.6002 14.144C74.2302 13.5771 74.5735 12.6922 75.2606 12.4416C75.3609 12.4052 78.377 12.3709 81.963 12.3657L88.4833 12.3561L88.8438 12.6587ZM88.5653 19.9234C89.4305 20.2839 89.5747 21.4201 88.8261 21.9778C88.4906 22.2278 88.3682 22.2332 82.1459 22.2694C77.7629 22.2948 75.6649 22.2646 75.3459 22.1718C74.8706 22.0334 74.4116 21.4806 74.4108 21.0449C74.4099 20.6447 74.7861 20.0955 75.1774 19.9257C75.762 19.672 87.9573 19.67 88.5653 19.9234ZM106.135 27.3925C106.47 27.5715 106.756 28.2952 106.661 28.7252C106.619 28.9164 106.42 29.2112 106.218 29.3804L105.852 29.6881L90.5051 29.6563L75.1587 29.6247L74.8471 29.3326C74.2638 28.786 74.3353 27.9363 75.0086 27.417C75.2679 27.2169 105.761 27.193 106.135 27.3925Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M160.395 0.959308L158.512 1.91222L159.799 3.20634L161.086 4.50035L162.687 2.92957C163.568 2.06556 164.308 1.31405 164.332 1.25934C164.398 1.10849 163.651 0.382862 163.217 0.176472C163.006 0.0759467 162.708 -0.00333386 162.555 0.000107963C162.402 0.00354979 161.43 0.435202 160.395 0.959308ZM167.933 2.72995C166.873 2.93966 166.375 3.27791 164.726 4.9072L163.113 6.50017L163.998 7.43314C164.484 7.94621 165.031 8.58579 165.214 8.85425C166.429 10.6404 166.444 13.3689 165.248 15.2312C164.542 16.3316 163.202 17.345 161.949 17.727C161.833 17.7622 161.707 17.8856 161.669 18.0013C161.058 19.8331 159.636 21.3554 158.023 21.9066C157.715 22.0116 157.436 22.1846 157.402 22.2909C156.925 23.7863 155.684 25.2644 154.374 25.8978C153.902 26.1258 153.432 26.3404 153.329 26.3747C153.227 26.409 153.047 26.6959 152.93 27.0124C152.077 29.32 149.878 30.8515 147.419 30.8515C145.711 30.8515 144.34 30.2206 142.923 28.7823C142.436 28.2884 141.981 27.8844 141.913 27.8844C141.844 27.8844 140.71 28.969 139.394 30.2944L137 32.7043V33.405V34.1057L143.241 40.3698C146.674 43.8151 149.663 46.7195 149.883 46.8242C150.767 47.2448 150.733 47.271 155.647 42.3667L160.146 37.8765L162.159 37.8159C164.224 37.7537 164.929 37.6298 166.079 37.1273C167.419 36.5415 168.209 35.838 173.549 30.4727C179.654 24.3378 179.556 24.4648 179.556 22.7217C179.556 21.9515 179.498 21.648 179.251 21.114C178.87 20.29 178.322 19.6574 177.643 19.2589L177.118 18.9502L177.215 18.3436C177.518 16.4597 176.885 14.9163 175.435 13.9985C174.973 13.706 174.8 13.5304 174.852 13.4051C174.893 13.3071 174.949 12.7998 174.976 12.2776C175.015 11.5107 174.976 11.1969 174.77 10.646C174.476 9.86259 173.562 8.7872 172.937 8.48978C172.558 8.30926 172.532 8.2644 172.611 7.91215C172.658 7.70208 172.69 7.10296 172.683 6.58075C172.666 5.39451 172.389 4.71932 171.591 3.91868C170.891 3.21714 170.311 2.90607 169.385 2.73434C168.611 2.59085 168.635 2.59097 167.933 2.72995ZM153.516 3.07188C152.705 3.26984 151.912 3.91856 151.515 4.70947C151.018 5.69846 151.184 7.00101 151.928 7.94478L152.386 8.52491L151.885 8.29715C150.885 7.842 149.633 8.04875 148.768 8.81177C147.793 9.67258 147.478 10.7151 147.829 11.925C147.992 12.4879 148.175 12.7682 148.809 13.4265C149.238 13.8716 149.56 14.2358 149.525 14.2358C149.49 14.2358 149.235 14.1557 148.958 14.0578C146.986 13.3603 144.928 14.8094 144.935 16.8901C144.938 17.8575 145.225 18.4577 146.144 19.4222C146.802 20.1138 146.84 20.1782 146.482 19.9947C146.26 19.881 145.767 19.7597 145.388 19.7252C143.654 19.5676 142.159 20.9551 142.159 22.7217C142.159 23.8429 142.416 24.254 144.26 26.0748C146.146 27.9375 146.401 28.0777 147.72 27.9726C148.539 27.9075 148.966 27.7147 149.539 27.1529C150.568 26.1419 150.707 24.7493 149.93 23.2239C149.905 23.1737 150.074 23.2455 150.308 23.3834C150.9 23.7337 151.964 23.8129 152.717 23.5625C153.38 23.3416 154.151 22.6439 154.485 21.9612C154.797 21.3254 154.774 20.0156 154.441 19.3786L154.181 18.8841L154.736 19.1372C155.502 19.4862 156.652 19.4839 157.32 19.1321C157.952 18.799 158.705 17.937 158.882 17.3445C159.088 16.6564 159.047 15.788 158.782 15.202C158.653 14.9174 158.548 14.6668 158.548 14.6449C158.548 14.6231 158.794 14.7144 159.095 14.8478C159.806 15.1635 160.831 15.1683 161.523 14.8595C162.162 14.5744 162.963 13.7186 163.172 13.0984C163.258 12.8427 163.33 12.3638 163.331 12.034C163.337 10.87 163.033 10.4711 159.293 6.74086C156.085 3.54056 155.846 3.32918 155.241 3.15068C154.562 2.95034 154.1 2.92934 153.516 3.07188ZM175.241 32.8172C172.539 35.5303 169.982 38.0155 169.558 38.34C168.576 39.0932 166.93 39.9103 165.685 40.2625L164.712 40.5379L167.875 43.6929C169.615 45.428 171.163 46.8854 171.315 46.9314C172.084 47.1639 172.065 47.1797 178.68 40.5507C182.475 36.7471 185.048 34.0783 185.148 33.8426C185.472 33.0725 185.285 32.7928 182.733 30.2319C181.446 28.9407 180.34 27.8844 180.274 27.8844C180.208 27.8844 177.943 30.1042 175.241 32.8172Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Während des gesamten Prozesses halten wir engen Kontakt mit dir, um
            sicherzustellen, dass alles deinen Wünschen entspricht. Probleme
            erkennen wir frühzeitig, und Änderungen nehmen wir schnell vor.
          </p>
        </div>
      </div>

      <div class="number-1">5</div>
    </section>
    <section class="konzeption">
      <div class="text-block order-1">
        <h3>
          <span class="launch"> Final Export <br /></span>
          <span class="sub-h3"
            >Multi-Format - Performance-Ready - Plattformoptimierung</span
          >
        </h3>

        <div class="text">
          <svg
            width="180"
            height="47"
            viewBox="0 0 180 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M17.0318 5.29566L22.3389 10.5913H26.2466H30.1543L24.8472 5.29566L19.5401 0H15.6324H11.7246L17.0318 5.29566ZM31.0406 5.29566L36.3477 10.5913H41.6939C45.5003 10.5913 47.0401 10.5445 47.0401 10.4286C47.0401 10.0304 46.5581 8.47114 46.1642 7.59544C45.5205 6.16444 44.7564 5.04941 43.6105 3.86965C41.8601 2.06766 39.8667 0.913795 37.464 0.311855C36.3122 0.0232419 35.8284 0 30.9764 0H25.7335L31.0406 5.29566ZM5.82354 2.0478C2.99037 3.89716 0.974276 6.8314 0.231367 10.1868L0.141858 10.5913H8.20563H16.2695L11.7161 6.03116C9.21161 3.52308 7.06 1.47102 6.93481 1.47102C6.80946 1.47102 6.30942 1.7305 5.82354 2.0478ZM0 25.2885C0 33.6224 0.0401097 35.7775 0.211607 36.6521C1.00421 40.6962 3.51533 43.989 7.15187 45.7529C9.89376 47.0827 8.77955 46.999 23.7413 46.999H36.939L38.3368 46.5123C42.7251 44.9848 45.7518 41.7465 46.9248 37.3235C47.2376 36.1443 47.2472 35.8439 47.2976 25.5589L47.3495 15.0044H23.6748H0V25.2885ZM25.8057 23.0071C28.8471 24.681 31.4818 26.2132 31.6604 26.4118C32.4086 27.2434 32.3789 28.5689 31.5959 29.3006C31.3716 29.5102 29.8277 30.4272 28.1651 31.3382C19.4992 36.0867 20.0286 35.8192 19.2913 35.8192C18.5459 35.8192 18.0215 35.5255 17.4833 34.8064C17.1869 34.4106 17.1792 34.2358 17.1792 27.9018C17.1792 21.9236 17.2005 21.3644 17.4445 20.9187C17.8633 20.1534 18.5039 19.8314 19.4649 19.903C20.1939 19.9574 20.8349 20.2712 25.8057 23.0071Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M70.3763 0.111679C69.5122 0.374634 68.7354 1.03246 68.2918 1.87718C67.9706 2.48857 67.9657 4.14512 68.283 4.78286C68.5522 5.32358 69.2825 6.08446 69.8123 6.37591C70.3484 6.67074 72.2972 6.66547 72.8427 6.3675C73.462 6.02936 74.0317 5.38998 74.3676 4.65622C74.6267 4.09039 74.6667 3.84802 74.6166 3.14828C74.5482 2.19298 74.3051 1.63632 73.6632 0.96644C72.9128 0.183223 71.4185 -0.205373 70.3763 0.111679ZM83.5053 0.246609C82.2968 0.718547 81.5492 1.76735 81.452 3.12719C81.4 3.85267 81.4379 4.08387 81.7017 4.65547C82.0406 5.38923 82.4647 5.86619 83.1662 6.30248L83.619 6.58401L98.8638 6.6174L114.109 6.65066L114.77 6.32733C117.467 5.00766 117.184 1.11605 114.32 0.13992C114.006 0.0327302 109.974 -0.00404578 99.0073 0.000347258C84.6443 0.00599546 84.0995 0.014656 83.5053 0.246609ZM70.1744 13.6276C69.4908 13.8701 68.6742 14.5834 68.3479 15.223C68.203 15.5069 68.0567 16.0858 68.0227 16.5093C67.917 17.8257 68.4426 18.8973 69.5393 19.601C70.0831 19.95 70.3187 20.0191 71.1019 20.0586C72.2957 20.1188 72.9381 19.8779 73.6706 19.0946C74.4257 18.2873 74.6972 17.5421 74.6139 16.5045C74.437 14.3007 72.2581 12.8887 70.1744 13.6276ZM83.6143 13.6233C81.8429 14.2559 80.9242 16.3983 81.7007 18.0856C82.0617 18.8697 82.6406 19.4738 83.3693 19.8265C83.8773 20.0725 84.1552 20.0769 99.0029 20.0757L114.119 20.0744L114.754 19.779C117.209 18.6358 117.297 15.1783 114.904 13.8527L114.245 13.4874L99.1829 13.4649C86.3425 13.4457 84.0464 13.469 83.6143 13.6233ZM70.1744 27.0577C69.4952 27.2986 68.6787 28.009 68.3366 28.6568C67.9624 29.3651 67.9421 30.9575 68.2982 31.6749C69.532 34.1618 73.1049 34.1618 74.3387 31.6749C74.5181 31.3135 74.5819 30.9218 74.5819 30.1809C74.5819 29.3116 74.5355 29.098 74.2368 28.5899C73.3867 27.1437 71.7125 26.5122 70.1744 27.0577ZM83.6143 27.0535C81.8429 27.6861 80.9242 29.8285 81.7007 31.5158C82.0684 32.3144 82.6262 32.8883 83.418 33.2824L83.9955 33.5698H98.9946H113.994L114.657 33.27C117.254 32.0965 117.316 28.5601 114.764 27.195L114.245 26.9175L99.1829 26.8951C86.3425 26.8758 84.0464 26.8992 83.6143 27.0535ZM70.1842 40.4846C67.9702 41.2707 67.2612 44.2594 68.8904 45.9381C70.5331 47.631 73.2951 47.2086 74.3387 45.1051C74.5181 44.7436 74.5819 44.352 74.5819 43.6111C74.5819 42.7418 74.5355 42.5281 74.2368 42.0201C73.3961 40.5899 71.6988 39.9469 70.1842 40.4846ZM83.7811 40.4505C81.8728 41.0585 80.8974 43.1949 81.714 44.9786C82.0886 45.7964 82.6327 46.3521 83.4307 46.7315L83.9955 47H98.9946H113.994L114.657 46.7001C117.262 45.5231 117.314 42.0064 114.747 40.619L114.245 40.3477L99.2457 40.325C88.0032 40.3079 84.13 40.3393 83.7811 40.4505Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M157.508 0.075578C157.208 0.164881 156.241 1.05757 153.682 3.60893C151.799 5.48661 150.177 7.17693 150.078 7.36543C149.845 7.80907 149.848 8.77162 150.083 9.22711C150.331 9.70734 150.878 10.1527 151.399 10.2976C151.928 10.445 151.952 10.4449 152.514 10.29C152.872 10.1915 153.309 9.83094 154.495 8.6563L156.016 7.14885V17.936C156.016 27.3831 156.038 28.7758 156.192 29.1468C156.43 29.7174 156.675 29.974 157.221 30.2255C158.139 30.648 159.14 30.3864 159.769 29.5601L160.091 29.1365L160.149 18.1064L160.206 7.07623L161.411 8.29483C162.944 9.84383 163.377 10.1893 163.949 10.3182C165.561 10.6812 166.936 9.01455 166.295 7.47603C166.091 6.98681 159.959 0.74754 159.288 0.346596C158.736 0.0167713 158.054 -0.0869174 157.508 0.075578ZM143.58 16.2926C141.669 16.5172 139.959 17.3067 138.735 18.5303C137.797 19.4682 137.358 20.2296 137.128 21.3183C136.887 22.4584 136.884 40.7121 137.124 41.8501C137.543 43.8305 139.063 45.4518 141.352 46.3608C143.04 47.031 142.817 47.0228 158.552 46.987L172.949 46.9542L173.861 46.6953C176.279 46.0087 178.123 44.5221 178.89 42.6406L179.148 42.0077L179.183 31.9956C179.209 24.7111 179.182 21.8074 179.085 21.3372C178.618 19.0785 176.597 17.247 173.753 16.5058C172.762 16.2478 172.545 16.2364 168.529 16.2329L164.339 16.2294V18.3008V20.3723L168.587 20.4299L172.834 20.4874L173.583 20.8422C174.339 21.2009 174.907 21.7353 175.019 22.1937C175.052 22.3312 175.065 26.6745 175.048 31.8454L175.015 41.2469L174.629 41.6462C174.143 42.1488 173.169 42.5914 172.203 42.748C171.193 42.9118 145.001 42.9152 143.962 42.7517C143.051 42.6084 141.897 42.0651 141.501 41.5924L141.206 41.242V31.5661V21.8902L141.659 21.4585C141.908 21.2209 142.412 20.9055 142.779 20.7574C143.424 20.4968 143.578 20.4865 147.635 20.4303L151.826 20.3723V18.3008V16.2294L148.095 16.215C146.042 16.207 144.011 16.2419 143.58 16.2926Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Sobald der Film fertig ist und alle Anpassungen umgesetzt wurden,
            exportieren wir das finale Produkt in der passenden Form für die
            Veröffentlichung auf den gewünschten Plattformen.
          </p>
        </div>
      </div>

      <div class="number-1 order-2">6</div>
    </section>
  </div>
</section>

<style>
  .workflow {
    margin-top: 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vw;
    background-color: white;
    z-index: 5;
  }

  .wave {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
  }

  h2 {
    color: var(--text);
    font-weight: var(--weight-bold);
    font-family: var(--gothic-wide);
    line-height: 0.6;

    position: absolute;
    text-align: center;

    margin-top: 0rem;
  }

  .h2-span-work-1 {
    color: var(--primary);
    font-size: 8vw;
  }

  .h2-span-work-2 {
    color: white;
    font-size: 8vw;
    font-family: var(--spills);
    font-weight: var(--weight-normal);
  }

  .h2-highlight {
    color: #5acfef;
  }

  @media (min-width: 1025px) {
    h2 {
      margin-block-start: 2em;
    }
    .h2-span-work-1 {
      font-size: 5vw;
    }

    .h2-span-work-2 {
      font-size: 5vw;
    }
  }

  h3 {
    font-family: var(--gothic-wide);
    color: var(--text-inv);
    font-size: 4vw;
    font-weight: var(--weight-black);

    line-height: 0.6;
  }

  .sub-h3 {
    font-family: var(--open);
    font-weight: var(--weight-normal);
    font-size: 1vw;
  }

  .text p {
    font-family: var(--open);
    font-size: 1.5vw;
    line-height: 140%;
    max-width: 60ch;

    padding-inline-start: 0;
  }

  .text svg {
    width: 15vw;
    height: auto;
  }

  @media (max-width: 768px) {
    .text svg {
      margin-block-start: -5%;
    }
  }

  .number-1 {
    font-family: var(--gothic-wide);
    font-weight: var(--weight-black);
    color: #5acfef;
    font-size: 40vw;
    justify-content: flex-start;
  }

  .text-block {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--text-inv);
  }

  .erstgespräch {
    padding: 10vw 5vw 0.4vw 5vw;
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 10%;
  }

  .text p {
    margin-block-start: 0;
  }

  @media (max-width: 768px) {
    .erstgespräch {
      margin-inline: 3vw;
      flex-direction: column;
      align-items: flex-start;
    }

    .number-1 {
      order: -1;
      font-size: 60vw; /* Optional: kleiner machen auf Mobile */
      align-self: left; /* Zentrieren der Zahl */
    }

    h3 {
      font-size: 10vw;
      margin-block-start: -0.8em;
    }

    .text-block {
      width: 100%;
    }

    .text p {
      font-size: 4vw;
    }

    .sub-h3 {
      font-size: 3vw;
    }

    .text svg {
      width: 25vw;
    }
  }

  .konzeption {
    padding: 10vw 5vw 0.4vw 5vw;
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: space-between;
    margin-block-start: -10%;
  }

  @media (max-width: 768px) {
    .konzeption {
      margin-inline: 3vw;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .order-1 {
    order: 2;
  }

  .order-2 {
    order: 1;
  }

  .design {
    padding: 10vw 5vw 0.4vw 5vw;
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: space-between;
    margin-block-start: -10%;
  }

  @media (max-width: 768px) {
    .design {
      margin-inline: 3vw;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media (max-width: 768px) {
    .launch {
      line-height: 1;
    }
  }
</style>
