---
import Layout from "../layouts/main.astro";
import wave from "../assets/wave.svg";
import { Image } from "astro:assets";
---

<section class="workflow">
  <Image src={wave} alt="Wellenförmiger Übergang" class="wave" />
  <h2>
    <span class="h2-span-work-1">GENUG GEREDET</span>
    <br />
    <span class="h2-span-work-2"
      >So arbeiten wir <span class="h2-highlight">zusammen!</span></span
    >
  </h2>

  <div class="steps">
    <section class="erstgespräch">
      <div class="text-block">
        <h3>
          Erstgespräch <br />
          <span class="sub-h3"
            >Kick-off-Meeting - Needs Assessment - User Research - KPIs</span
          >
        </h3>

        <div class="text">
          <svg
            width="178"
            height="48"
            viewBox="0 0 178 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="svg-erst"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M77.5469 2.75391V5.50781H84.8906H92.2344V2.75391V0H84.8906H77.5469V2.75391ZM68 24.877V47H84.8906H101.781V24.877V2.75391H98.3848H94.9883V5.50781V8.26172H84.8906H74.793V5.50781V2.75391H71.3965H68V24.877ZM86.2676 13.2188V14.5957H84.8906H83.5137V13.2188V11.8418H84.8906H86.2676V13.2188ZM79.2218 16.4545L76.9044 18.7719L75.2295 17.097L73.5545 15.4221L74.5402 14.4365L75.5257 13.4509L76.2396 14.1606L76.9534 14.8703L78.282 13.5393L79.6106 12.2083L80.5749 13.1727L81.5393 14.137L79.2218 16.4545ZM95.8145 18.543V19.9199H89.6641H83.5137V18.543V17.166H89.6641H95.8145V18.543ZM86.2676 24.5098V25.8867H84.8906H83.5137V24.5098V23.1328H84.8906H86.2676V24.5098ZM79.729 26.4127L78.9739 27.1718L79.7043 27.9064L80.4347 28.6412L79.4739 29.6052L78.513 30.5693L77.7788 29.8351L77.0446 29.1008L76.2852 29.8563L75.5259 30.6117L74.5411 29.6269L73.5563 28.6421L74.3117 27.8827L75.0672 27.1234L74.3329 26.3891L73.5987 25.6549L74.5627 24.6941L75.5268 23.7333L76.2622 24.4643L76.9976 25.1954L77.7531 24.4399L78.5085 23.6844L79.4963 24.669L80.484 25.6537L79.729 26.4127ZM95.8145 29.834V31.2109H89.6641H83.5137V29.834V28.457H89.6641H95.8145V29.834ZM86.2676 35.709V37.0859H84.8906H83.5137V35.709V34.332H84.8906H86.2676V35.709ZM79.2222 38.8526L76.905 41.1697L75.2521 39.5187L73.5991 37.8677L74.5624 36.9045L75.5256 35.9413L76.2159 36.627L76.9062 37.3128L78.2588 35.9601L79.6114 34.6076L80.5753 35.5715L81.5393 36.5354L79.2222 38.8526ZM95.8145 41.0332V42.4102H89.6641H83.5137V41.0332V39.6562H89.6641H95.8145V41.0332Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M141.967 0.163158C137.963 0.88806 134.455 3.90565 133.148 7.74949C132.5 9.65302 132.347 11.9733 132.742 13.879C133.908 19.4982 139.039 23.4533 144.733 23.1226C149.775 22.8298 154.015 19.3512 155.324 14.4334C155.585 13.4547 155.621 13.1013 155.621 11.5733C155.621 10.0547 155.584 9.68923 155.331 8.73826C154.156 4.32946 150.783 1.11402 146.397 0.22007C145.068 -0.0507695 143.275 -0.073827 141.967 0.163158ZM163.628 14.3832C162.486 14.5091 161.515 14.7962 160.367 15.348C154.788 18.0277 152.954 25.145 156.543 30.1879C157.091 30.9574 158.326 32.1749 159.073 32.6824C159.882 33.2315 160.899 33.7058 161.964 34.0301C162.853 34.3008 163.131 34.3316 164.697 34.3333C166.77 34.3354 167.637 34.1432 169.287 33.3154L170.334 32.7903L172.549 34.9929C173.767 36.2043 174.925 37.2764 175.123 37.3753C175.857 37.7417 177.025 37.4618 177.491 36.8079C177.748 36.4469 177.997 35.6366 177.923 35.4019C177.897 35.318 177.842 35.0975 177.802 34.9119C177.749 34.6719 177.065 33.9086 175.433 32.2677L173.137 29.9611L173.689 28.8614C174.898 26.4514 175.092 23.7542 174.242 21.1923C173.463 18.8451 171.812 16.8371 169.646 15.6043C167.953 14.6409 165.608 14.165 163.628 14.3832ZM165.957 18.4452C168.693 19.0117 170.776 21.5772 170.769 24.3729C170.762 27.0258 168.92 29.4409 166.328 30.1958C165.361 30.4774 163.84 30.4495 162.897 30.1327C160.332 29.2701 158.727 27.0952 158.707 24.4517C158.69 22.2321 159.787 20.2691 161.677 19.1384C162.829 18.4492 164.595 18.1632 165.957 18.4452ZM130.625 25.5809C128.759 26.1001 127.158 27.4003 126.338 29.0632C125.949 29.8526 122.131 41.7525 122.022 42.517C121.916 43.2572 122.212 44.5495 122.657 45.2916C123.124 46.0681 123.73 46.5996 124.656 47.045L125.387 47.3966H144.114H162.841L163.488 47.0934C164.396 46.668 165.3 45.7764 165.739 44.8742C166.072 44.1894 166.098 44.0518 166.093 43.0101C166.087 41.9196 166.061 41.8064 165.237 39.2984L164.388 36.7115L163.303 36.5761C160.478 36.2234 157.973 35.0002 155.982 33.0011C154.402 31.4145 153.324 29.4963 152.789 27.3195L152.493 26.1173L151.892 26.3216C149.905 26.9973 146.876 27.4323 144.16 27.4323C140.844 27.4323 138.421 27.0454 135.51 26.0508C133.916 25.5063 133.751 25.4726 132.529 25.4427C131.633 25.4209 131.048 25.4634 130.625 25.5809Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M14.286 0.10367C13.2655 0.42976 12.5353 1.05923 12.0883 1.99825L11.8037 2.59582V7.838V13.0803L12.1047 13.6916C12.4795 14.4528 13.2052 15.1412 13.9415 15.4338C14.4409 15.6322 14.6187 15.6457 17.1819 15.6797L19.8939 15.7156L21.181 17.4284C21.8889 18.3704 22.6087 19.2349 22.7805 19.3494C23.1784 19.6147 23.8225 19.6281 24.2299 19.3796C24.3899 19.282 25.2094 18.4169 26.051 17.457L27.5813 15.7117L30.0811 15.677C32.4213 15.6447 32.6146 15.629 33.1092 15.4331C33.8452 15.1414 34.5709 14.4535 34.946 13.6916L35.2469 13.0803V7.838V2.59582L34.9622 1.99825C34.5922 1.22186 34.0454 0.672006 33.285 0.311716L32.6728 0.0216643L23.6632 0.00392105C16.5631 -0.0100529 14.5757 0.0110919 14.286 0.10367ZM2.76037 2.00542C1.75709 2.20253 0.812926 2.9448 0.33781 3.90993L0.0361741 4.52248V9.76475V15.0069L0.29552 15.5682C0.856318 16.7815 1.98187 17.5246 3.38074 17.6052L4.17321 17.6508L5.36835 19.2549C6.73836 21.0939 7.07989 21.4429 7.59454 21.5298C8.30721 21.6503 8.56168 21.4581 10.2973 19.4892L11.8848 17.6883L11.6604 17.5492C11.537 17.4727 11.1033 17.0762 10.6967 16.6682C10.1582 16.1278 9.85456 15.7265 9.57884 15.1908C8.83399 13.7435 8.86185 14.0241 8.86185 7.97397C8.86185 5.01599 8.89476 2.44073 8.93494 2.25107L9.00812 1.90631L6.08498 1.91643C4.47733 1.92194 2.98119 1.96193 2.76037 2.00542ZM38.1031 2.10664C38.1454 2.22404 38.1941 4.65248 38.2111 7.50317C38.2469 13.506 38.236 13.6282 37.5327 15.0529C37.1816 15.7641 36.9635 16.064 36.3582 16.6682C35.9492 17.0762 35.5136 17.4727 35.3903 17.5492L35.1659 17.6883L36.7534 19.4892C38.4871 21.4559 38.7439 21.6502 39.4529 21.5304C39.9746 21.4422 40.2963 21.1126 41.6434 19.286L42.8489 17.6516L43.6556 17.6055C44.2653 17.5708 44.5944 17.4994 45.003 17.3131C45.7132 16.9892 46.4269 16.2786 46.7552 15.5682L47.0145 15.0069V9.76475V4.52257L46.7135 3.91112C46.3393 3.15101 45.6134 2.46215 44.8768 2.16805C44.3683 1.96506 44.2296 1.95596 41.1873 1.92525L38.0261 1.89326L38.1031 2.10664ZM22.4235 22.635C21.9985 22.7153 21.4137 22.9248 20.8946 23.1825C19.0036 24.1213 17.7945 25.9515 17.6715 28.0616C17.5705 29.7943 18.1646 31.3217 19.4244 32.5684C20.6034 33.735 21.8834 34.2644 23.5253 34.2644C25.1673 34.2644 26.4473 33.735 27.6262 32.5684C28.2174 31.9834 28.4507 31.6693 28.7541 31.0494C29.5991 29.3233 29.6162 27.5259 28.8034 25.8548C27.6433 23.4694 25.0176 22.1443 22.4235 22.635ZM7.12374 25.5386C6.37255 25.6645 5.58523 26.1151 4.97313 26.7693C4.29162 27.4979 4.0274 28.1283 3.96571 29.1731C3.89143 30.4321 4.26294 31.3649 5.18632 32.2381C6.7333 33.7013 9.06649 33.6589 10.5887 32.14C12.1303 30.6019 12.1303 28.1873 10.5887 26.6492C9.99108 26.0528 9.30819 25.6909 8.50018 25.5419C7.8936 25.4302 7.7728 25.4299 7.12374 25.5386ZM38.4187 25.5667C36.8243 25.9131 35.6383 27.1604 35.3603 28.7834C35.1517 30.0008 35.5578 31.2379 36.4619 32.14C37.9841 33.6588 40.3174 33.7012 41.8644 32.2381C42.7143 31.4344 43.1073 30.5352 43.1073 29.3946C43.1073 28.2541 42.7143 27.3549 41.8644 26.5511C41.2844 26.0026 40.5915 25.6554 39.8272 25.5302C39.178 25.4238 39.0626 25.4268 38.4187 25.5667ZM4.05388 35.4643C3.08719 35.7176 2.33572 36.1518 1.59106 36.8872C0.444913 38.0192 -0.0547487 39.3773 0.00473264 41.1983C0.0394837 42.2613 0.134636 42.4843 0.724761 42.8859L1.02869 43.0928H5.42793H9.82716V42.3994C9.82716 40.3807 10.7259 38.3185 12.2776 36.777L13.0363 36.0232L12.5417 35.7892C11.5635 35.3264 11.1352 35.2808 7.80461 35.2848C5.0749 35.2881 4.64851 35.3085 4.05388 35.4643ZM35.5434 35.4224C35.2514 35.4931 34.7879 35.6573 34.5134 35.7871L34.0144 36.0232L34.7731 36.777C36.3248 38.3185 37.2235 40.3807 37.2235 42.3994V43.0928H41.6228H46.022L46.3259 42.8859C46.916 42.4843 47.0112 42.2613 47.046 41.1983C47.1053 39.3837 46.6125 38.0452 45.4598 36.8897C44.7069 36.135 43.9851 35.7221 42.9606 35.46C42.3191 35.296 41.9523 35.2791 39.1624 35.286C36.8528 35.2918 35.9405 35.3261 35.5434 35.4224ZM17.3267 37.3043C16.6558 37.4198 16.0038 37.6492 15.4351 37.9699C14.7072 38.3803 13.7913 39.3384 13.394 40.1049C12.84 41.174 12.769 41.6098 12.769 43.9428C12.769 45.9326 12.7766 46.0185 12.9759 46.3114C13.0897 46.4786 13.2995 46.7019 13.4423 46.8077C13.7019 47 13.702 47 23.5253 47C33.3487 47 33.3488 47 33.6084 46.8077C33.7512 46.7019 33.961 46.4786 34.0748 46.3114C34.2741 46.0185 34.2816 45.9326 34.2816 43.9428C34.2816 41.6113 34.2108 41.1759 33.6579 40.1049C33.2192 39.2554 32.2243 38.2585 31.4199 37.8626C30.1651 37.2448 30.4376 37.2668 23.8011 37.2456C20.4892 37.235 17.5757 37.2614 17.3267 37.3043Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Wir reden über die Werte und die Message deines Unternehmens, um
            sicherzustellen, dass alles, was wir auf Social Media tun,
            authentisch und zielgerichtet ist. Wir setzen gemeinsam fest, was du
            mit deiner Präsenz erreichen möchtest.
          </p>
        </div>
      </div>

      <div class="number-1">1</div>
    </section>

    <section class="konzeption">
      <div class="text-block order-1">
        <h3>
          Produktion <br />
          <span class="sub-h3"
            >Corporate Identity - Motion Design - Reels - Content Creation</span
          >
        </h3>

        <div class="text">
          <svg
            width="200"
            height="50"
            viewBox="0 0 200 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M115.975 0.197153C111.704 1.17818 108.182 3.90961 106.272 7.72217C105.987 8.29116 105.753 8.85235 105.753 8.96924C105.753 9.13286 106.206 9.1701 107.713 9.13119C115.253 8.93565 121.74 14.0029 123.571 21.5185C123.843 22.6355 123.928 23.5055 123.93 25.186C123.931 26.3979 123.964 27.3892 124.003 27.3892C124.308 27.3892 127.16 25.7198 127.992 25.0538C130.109 23.3593 131.914 20.5494 132.632 17.8283C133.056 16.2242 133.062 12.1443 132.644 10.6154C131.238 5.48026 127.752 1.84795 122.88 0.44424C121.279 -0.017011 117.496 -0.15236 115.975 0.197153ZM106.418 10.9348C102.325 11.4039 98.398 13.819 96.198 17.2199C95.5592 18.2076 94.779 19.7411 94.779 20.0097C94.779 20.0511 95.4338 20.0363 96.2339 19.9766C99.5578 19.7292 103.391 20.8688 106.335 22.9802C107.501 23.8161 109.618 25.9674 110.386 27.0967C111.204 28.3004 112.194 30.4828 112.593 31.9618C112.879 33.0211 112.956 33.793 112.969 35.7521L112.986 38.212L113.402 38.1117C114.061 37.9526 116.119 36.7263 117.214 35.8404C120.694 33.0241 122.6 28.1742 122.039 23.5603C121.591 19.8745 120.146 16.9663 117.547 14.522C114.751 11.8911 110.377 10.4814 106.418 10.9348ZM95.6104 21.8317C91.1695 22.6204 88.3468 24.2067 85.8771 27.3021C84.9714 28.4374 83.7732 30.827 83.3743 32.2943C83.0035 33.6577 82.8768 36.9528 83.138 38.4336C83.6511 41.3421 84.9872 43.9039 87.0467 45.929C89.8248 48.6606 93.1898 50.0065 97.2246 50C102.861 49.9908 107.33 47.1919 109.829 42.1047C112.401 36.8694 111.429 30.668 107.349 26.277C104.696 23.4225 101.566 21.9667 97.7737 21.8239C96.8124 21.7877 95.839 21.7912 95.6104 21.8317Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M156.879 0.147329C155.371 0.607726 154.109 1.72925 153.433 3.21063L153 4.15786L153.045 23.755L153.09 43.352L153.589 44.2538C154.226 45.4036 155.316 46.3625 156.481 46.7986C157.362 47.128 157.757 47.1409 166.923 47.1409C175.927 47.1409 176.442 47.1248 176.332 46.8463C175.976 45.9477 175.716 44.0979 175.805 43.0961C175.956 41.3954 176.268 40.5715 178.456 36.0822C182.791 27.1888 183.664 25.3966 185.208 22.2182C187.094 18.335 187.755 17.487 189.603 16.577C190.329 16.2196 191.214 15.9327 191.821 15.8577L192.831 15.7331V9.84024V3.9472L192.416 3.10522C191.813 1.88384 190.643 0.782353 189.489 0.350753C188.527 -0.00911099 188.478 -0.0101212 172.912 0.00436089C164.325 0.0122755 157.11 0.0766029 156.879 0.147329ZM182.731 11.0106C183.882 11.4912 184.146 13.109 183.217 13.982L182.785 14.3878H171.081H159.377L158.886 13.8378C158.07 12.9248 158.36 11.491 159.458 11.0138C160.272 10.6598 181.885 10.6568 182.731 11.0106ZM181.481 18.6998C182.279 19.5534 182.026 21.0666 181.008 21.5303C180.733 21.6555 177.288 21.713 170.073 21.713H159.539L158.967 21.1405C158.14 20.3137 158.207 19.2228 159.13 18.4751C159.462 18.2064 160.308 18.184 170.241 18.1804L180.993 18.1767L181.481 18.6998ZM191.484 19.6653C191.114 19.842 190.606 20.2045 190.357 20.471C190.017 20.8333 186.011 28.5612 186.011 28.8541C186.011 28.8825 184.622 31.7394 182.923 35.2028C181.224 38.666 179.737 41.7942 179.618 42.1542C179.251 43.2687 179.487 44.9425 180.346 47.3016C181.178 49.5872 181.498 49.9938 182.475 50C183.307 50.0052 187.01 48.7373 187.916 48.1373C189.025 47.4026 189.378 46.8521 191.389 42.7195C192.391 40.6594 194.1 37.155 195.188 34.9322C199.466 26.1863 199.695 25.6835 199.78 24.8675C199.884 23.8641 199.507 22.8179 198.764 22.0503C198.445 21.7205 197.349 21.0698 196.115 20.4774C193.669 19.3036 192.626 19.1208 191.484 19.6653ZM177.572 25.6924C177.787 25.8435 178.073 26.2288 178.207 26.5487C178.51 27.2738 178.28 28.1116 177.641 28.6146C177.221 28.9452 176.977 28.9541 168.374 28.9541H159.539L158.967 28.3816C158.114 27.5286 158.223 26.3167 159.207 25.7061C159.611 25.4553 160.556 25.4262 168.418 25.4223C176.25 25.4183 177.221 25.4469 177.572 25.6924ZM174.156 33.2314C174.565 33.6401 174.729 33.9557 174.729 34.3344C174.729 34.9842 174.332 35.7887 173.896 36.0217C173.688 36.133 171.045 36.1938 166.531 36.1915C160.113 36.1879 159.457 36.1618 159.13 35.8968C158.207 35.1491 158.14 34.0582 158.967 33.2314L159.539 32.6588H166.561H173.584L174.156 33.2314Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M21.7972 0.363113C21.4702 0.562515 21.1063 0.974832 20.9884 1.27944C20.7089 2.00099 19.7858 5.67613 19.7858 6.06702C19.7858 6.33804 20.9643 6.36931 31.1425 6.36931C37.3888 6.36931 42.5466 6.32202 42.6043 6.26411C42.7611 6.10756 41.4859 1.1974 41.1987 0.851292C40.5059 0.0166206 40.3011 -0.000752271 31.1361 1.98576e-05C22.9216 0.000598954 22.3556 0.022604 21.7972 0.363113ZM4.96537 8.5029C3.83806 8.72739 2.31619 9.58677 1.59869 10.4039C1.2717 10.7762 0.778306 11.5626 0.502077 12.1514L0 13.222V29.0506C0 44.1324 0.0173729 44.9292 0.368691 45.939C0.876752 47.3991 2.48954 49.0067 4.02125 49.5798L5.14431 50L31.527 49.949L57.9097 49.8981L58.8239 49.4437C60.0944 48.8125 61.2333 47.6458 61.8377 46.3569L62.3494 45.2653V29.1471V13.0289L61.8089 11.9281C61.1648 10.6164 59.789 9.32019 58.47 8.78221C57.5412 8.40329 57.0449 8.39557 31.6573 8.36739C17.4308 8.35156 5.41938 8.41256 4.96537 8.5029ZM35.6915 15.3252C40.6366 17.0092 44.2673 21.0257 45.4807 26.1551C45.8733 27.814 45.7832 31.1504 45.2996 32.8709C42.8871 41.4531 33.7393 46.0048 25.6617 42.6422C21.8184 41.0421 18.7166 37.6975 17.3534 33.6834C16.6523 31.6193 16.4925 28.3593 16.9826 26.124C17.9273 21.8159 20.7957 18.1389 24.7427 16.1771C27.1641 14.9735 28.6662 14.6612 31.6573 14.74C33.7623 14.7954 34.4124 14.8898 35.6915 15.3252ZM11.609 17.0749C12.6401 17.7972 12.6652 19.5042 11.657 20.3526C10.9866 20.9168 10.1927 20.9867 9.3582 20.5553C8.63916 20.1833 8.3969 19.7213 8.3969 18.7212C8.3969 17.577 9.1974 16.7931 10.366 16.7931C10.8281 16.7931 11.3875 16.9199 11.609 17.0749ZM29.0513 19.0259C27.0606 19.4569 25.4629 20.3495 23.92 21.8924C21.5314 24.2812 20.4469 27.4058 20.9079 30.5725C21.9547 37.7646 29.6725 41.7274 36.0814 38.3636C37.6359 37.5475 39.6515 35.5353 40.4005 34.0517C41.7421 31.3938 41.9546 28.2935 40.9763 25.6444C39.6992 22.1852 36.468 19.4934 32.912 18.9264C31.3127 18.6714 30.6037 18.6896 29.0513 19.0259ZM33.1668 21.1353C34.6887 21.5318 35.6971 22.079 36.7921 23.1035C38.5306 24.7298 39.4751 26.7744 39.4751 28.912C39.4751 29.844 39.4037 30.0293 38.8188 30.6142C37.9167 31.5162 36.9886 31.526 36.1092 30.6431C35.6214 30.1536 35.4585 29.7961 35.367 29.0155C35.0832 26.5946 33.8455 25.4202 31.132 24.9971C29.0919 24.6788 28.4184 22.2346 30.0901 21.2154C30.816 20.7726 31.6874 20.75 33.1668 21.1353Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Passend zu deiner CI erstellen wir die gesamte Außendarstellung: von
            Werbekampagnen über Videos bis zu Fotoshootings und 2D-Posts. Alles,
            was du brauchst, um dich stark und einzigartig zu präsentieren.
          </p>
        </div>
      </div>

      <div class="number-1 order-2">2</div>
    </section>

    <section class="design">
      <div class="text-block">
        <h3>
          Management <br />
          <span class="sub-h3"
            >Content Sceduling - Cross-Channel Publishing - Account Betreuung -
            Performance Monitoring</span
          >
        </h3>

        <div class="text">
          <svg
            width="192"
            height="47"
            viewBox="0 0 192 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M30.8544 0.0828805C30.0607 0.29391 29.6913 1.01354 29.6906 2.35092L29.69 3.44078H21.8767H14.0636L14.0027 2.23758C13.9488 1.17016 13.8888 0.978828 13.4706 0.542237C12.8147 -0.142357 11.838 -0.152368 11.0881 0.517695C10.5998 0.953963 10.5607 1.06731 10.5028 2.21304L10.4408 3.44078H7.64086C6.10085 3.44078 4.47945 3.51829 4.03786 3.61306C2.44424 3.95472 0.749383 5.57481 0.275172 7.20977C0.156337 7.61972 0.0768986 9.04364 0.0712475 10.868L0.0618826 13.855L21.8278 13.896L43.5937 13.9369L43.5443 10.5861C43.4976 7.41902 43.4734 7.19152 43.1037 6.44025C42.6049 5.42692 41.7185 4.54146 40.6344 3.97377C39.7979 3.53572 39.7175 3.52604 36.5117 3.46953L33.2421 3.41204L33.2411 2.65948C33.2389 0.691266 32.3153 -0.305595 30.8544 0.0828805ZM0.04832 17.5457C0.00214212 17.6663 -0.0138426 22.6251 0.0131214 28.5654L0.0618826 39.3659L0.531573 40.3831C1.10815 41.6316 2.2282 42.6882 3.46645 43.1515C4.32574 43.4731 4.65997 43.4831 14.4514 43.4831C20.0057 43.4831 24.5237 43.4287 24.4914 43.362C23.0859 40.461 22.8271 39.3964 22.8327 36.5403C22.8366 34.5958 22.8999 33.9802 23.2063 32.9074C24.5662 28.1463 28.2405 24.4745 33.0094 23.1114C34.072 22.8077 34.6925 22.7441 36.6328 22.7402C39.4595 22.7346 40.8844 23.0804 43.4545 24.3957C43.521 24.4297 43.5756 22.8531 43.5756 20.892V17.3264H21.8541C3.7046 17.3264 0.118717 17.3624 0.04832 17.5457ZM11.5471 24.7168C12.4321 25.4337 12.496 26.4797 11.7032 27.2724L11.1543 27.8214H8.78078H6.4073L5.85833 27.2724C5.06556 26.4797 5.1295 25.4337 6.01446 24.7168C6.30655 24.4803 6.72667 24.4378 8.78078 24.4378C10.8349 24.4378 11.255 24.4803 11.5471 24.7168ZM22.0834 24.8441C22.6997 25.3627 22.872 26.143 22.5201 26.8232C22.0488 27.7347 21.77 27.8214 19.31 27.8214C17.9818 27.8214 16.9316 27.7483 16.7221 27.641C16.1135 27.3297 15.8118 26.8123 15.8079 26.0733C15.805 25.5136 15.8983 25.2808 16.2763 24.9027L16.7482 24.4307H19.1701C21.5333 24.4307 21.6042 24.4407 22.0834 24.8441ZM35.2604 26.2071C31.7786 26.7307 28.8917 28.794 27.3459 31.8637C26.0282 34.4804 25.8574 37.5131 26.8752 40.2174C27.6759 42.3446 29.4759 44.4848 31.3853 45.5798C32.5934 46.2725 34.4737 46.8478 35.9261 46.9689C39.9628 47.3055 44.1971 44.8789 45.9535 41.2227C46.801 39.4584 47.0383 38.4342 47.0383 36.5403C47.0383 34.6743 46.7977 33.6293 45.979 31.9386C44.4906 28.8659 41.4782 26.7 38.0239 26.2195C36.6523 26.0289 36.4513 26.0279 35.2604 26.2071ZM37.3487 29.7549C37.5765 29.8414 37.908 30.1503 38.0853 30.4411C38.367 30.9032 38.4077 31.256 38.4082 33.2384L38.4089 35.5069L39.7046 36.1386C41.076 36.8072 41.5246 37.1761 41.7639 37.832C42.0816 38.7026 41.4054 39.7919 40.4179 40.0002C40.0143 40.0855 39.5121 39.9006 37.6592 38.9851C34.7628 37.5539 34.8567 37.7212 34.8567 33.997C34.8567 30.935 34.9786 30.3612 35.7255 29.9059C36.2879 29.5629 36.7345 29.5214 37.3487 29.7549ZM11.5482 33.3853C12.4107 33.9895 12.4317 35.4173 11.5884 36.1269C11.1107 36.529 11.0327 36.5403 8.7522 36.5403H6.4073L5.85833 35.9913C5.46647 35.5995 5.30936 35.2969 5.30936 34.9338C5.30936 34.3321 5.67959 33.555 6.0763 33.324C6.23308 33.2328 7.4392 33.1572 8.78514 33.1544C10.6574 33.1507 11.2884 33.2034 11.5482 33.3853Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M113.528 0.382379C113.056 0.605742 111.361 1.47688 109.763 2.31805C106.026 4.28441 105.331 4.64758 95.4887 9.77881C90.9561 12.1419 86.7361 14.3475 86.1109 14.6803C85.4857 15.0131 84.0151 15.7815 82.8428 16.388C81.6706 16.9945 80.2 17.7618 79.5748 18.0931C78.2383 18.8014 76.8578 19.5235 71.4363 22.3501C67.1775 24.5705 67 24.7038 67 25.6847C67 25.957 67.1439 26.2727 67.3907 26.5417C67.7217 26.9024 68.5431 27.2268 72.7546 28.6601C75.4898 29.591 78.4161 30.5902 79.2575 30.8805C80.5762 31.3354 80.8209 31.3816 81.0304 31.2152C81.1641 31.1091 83.0332 29.5177 85.184 27.6787C89.8856 23.659 94.2409 19.9383 101.456 13.7772C104.426 11.2416 107.041 9.00117 107.269 8.79855C107.495 8.59607 107.627 8.52617 107.561 8.64339C107.495 8.76061 105.135 11.6355 102.317 15.0321C99.4993 18.4286 94.9114 23.9594 92.1219 27.3227C89.3324 30.686 87.0945 33.477 87.1488 33.5249C87.2031 33.5728 88.2386 33.9476 89.4499 34.3581C90.6612 34.7684 92.5475 35.412 93.6415 35.7879C94.7356 36.1639 98.1564 37.3326 101.243 38.3847C104.33 39.437 107.237 40.4329 107.703 40.5978C108.887 41.0162 109.413 40.9905 109.914 40.4893C110.139 40.265 110.355 39.9292 110.396 39.7434C110.436 39.5575 110.79 37.2315 111.181 34.5745C111.573 31.9174 112.795 23.7012 113.897 16.3162C114.999 8.93112 115.936 2.49111 115.979 2.00503C116.073 0.959826 115.846 0.493066 115.09 0.177204C114.468 -0.0826757 114.527 -0.0903484 113.528 0.382379ZM84.9031 40.9604C84.9031 46.3022 84.9285 46.4948 85.6806 46.8374C86.2177 47.0822 86.956 47.0463 87.3017 46.7586C87.587 46.5211 93.1401 39.0558 93.1411 38.9082C93.1415 38.8691 91.368 38.2362 89.2 37.5018C87.0322 36.7673 85.1785 36.1372 85.0807 36.1012C84.9408 36.0498 84.9031 37.0808 84.9031 40.9604Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M183.293 0.233519C180.953 0.354867 178.844 0.533196 178.606 0.629504C177.858 0.93191 177.412 1.92596 177.692 2.66416C177.779 2.89113 178.493 3.73382 179.281 4.53654L180.712 5.99608L170.972 15.7455L161.233 25.4947L156.733 21.0164C154.258 18.5533 152.002 16.4217 151.72 16.2795C150.988 15.9111 149.787 15.948 149.112 16.3599C148.414 16.7853 137.196 27.9147 136.592 28.7818C136.017 29.6056 135.877 30.2728 136.102 31.1104C136.298 31.8377 137.33 33.0758 138.052 33.449C138.622 33.7436 140.008 33.7426 140.564 33.4473C140.803 33.3206 143.128 31.0815 145.732 28.4714L150.466 23.7257L155.042 28.2945C160.32 33.5654 160.628 33.7715 162.231 33.11C162.648 32.9378 166.195 29.4983 174.022 21.6754L185.216 10.4872L186.622 11.872C187.395 12.6338 188.186 13.3371 188.378 13.4352C189.188 13.8466 190.228 13.4731 190.71 12.5976C190.909 12.2371 191.517 1.90285 191.368 1.42436C191.17 0.792264 190.894 0.406231 190.489 0.196922C189.967 -0.0735415 189.123 -0.0692079 183.293 0.233519ZM181.132 19.2785L177.033 23.3764V34.9225C177.033 45.9045 177.047 46.4817 177.326 46.7344C177.582 46.966 178.113 47 181.475 47C185.005 47 185.352 46.9753 185.595 46.7064C185.839 46.4376 185.861 45.1223 185.861 31.0813C185.861 16.0605 185.855 15.744 185.547 15.4652C185.24 15.1878 185.129 15.2841 181.132 19.2785ZM168.961 31.5128L164.5 35.9388L164.547 41.2416C164.591 46.2769 164.609 46.5562 164.905 46.7724C165.153 46.9539 165.999 47 169.093 47C172.652 47 172.992 46.9758 173.237 46.7051C173.481 46.4358 173.5 45.5677 173.463 36.7485L173.421 27.087L168.961 31.5128ZM145.733 33.1722C142.819 36.062 142.108 36.5784 140.6 36.902L139.794 37.0749V41.7718C139.794 46.1183 139.816 46.4886 140.087 46.7344C140.343 46.966 140.874 47 144.236 47C147.95 47 148.102 46.9876 148.397 46.6623C148.687 46.3413 148.705 45.9339 148.747 38.4485C148.771 34.1166 148.735 30.5306 148.667 30.4794C148.598 30.4282 147.278 31.6399 145.733 33.1722ZM152.153 38.2965C152.153 45.2684 152.185 46.3319 152.403 46.6432C152.65 46.9953 152.704 47 156.577 47C160.286 47 160.517 46.9825 160.821 46.679C161.128 46.3722 161.142 46.144 161.142 41.5533C161.142 36.1956 161.261 36.7097 159.972 36.4919C158.533 36.249 157.923 35.8134 155.117 33.0243C153.613 31.5296 152.331 30.3067 152.268 30.3067C152.205 30.3067 152.153 33.9022 152.153 38.2965Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Wir posten regelmäßig – immer zu den besten Zeiten für maximale
            Reichweite. Der Content, den wir für dich erstellen, kommt
            kontinuierlich auf den von dir gewünschten Plattformen.
          </p>
        </div>
      </div>

      <div class="number-1">3</div>
    </section>

    <section class="konzeption">
      <div class="text-block order-1">
        <h3>
          <span class="launch"> Ad Schaltung <br /></span>
          <span class="sub-h3"
            >A/B Testing - CPC Analyse - Retargeting - Budgetplanung -
            Performance Ads</span
          >
        </h3>

        <div class="text">
          <svg
            width="194"
            height="47"
            viewBox="0 0 194 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M102.128 0.176984C101.836 0.398382 101.829 0.601753 101.789 10.4717L101.749 20.5406H112.608C123.369 20.5406 123.471 20.5378 123.86 20.2317C124.32 19.8697 124.339 19.6122 124.019 18.0388C123.452 15.2513 122.164 12.2326 120.477 9.73885C119.242 7.91253 116.382 5.06757 114.575 3.86776C111.137 1.58449 107.335 0.234196 103.767 0.0284407C102.709 -0.0324961 102.363 -0.00105917 102.128 0.176984ZM94.9017 1.77952C89.8593 2.41883 85.2677 4.68094 81.6349 8.31584C78.3203 11.6321 76.2862 15.4669 75.3522 20.1596C74.8754 22.5555 74.8836 26.2013 75.3714 28.586C75.805 30.7063 76.548 32.8822 77.4085 34.5523C83.1046 45.6066 96.355 50.0976 107.491 44.7483C109.108 43.9716 111.204 42.5979 112.371 41.5492C113.829 40.2393 114.381 40.9961 105.405 32.0142L97.5835 24.1871V13.1349V2.08271L97.2523 1.85088C96.8962 1.60133 96.4202 1.58687 94.9017 1.77952ZM89.1491 18.385C89.3447 18.5806 89.4494 18.948 89.5853 19.9157C89.6002 20.0229 90.0089 20.2712 90.4931 20.4676C92.163 21.1448 92.9543 22.3391 92.2199 23.0734C91.7986 23.4948 91.2693 23.4435 90.6777 22.924C89.3684 21.7742 87.5847 21.7297 86.5782 22.8215C86.0854 23.3562 86.0009 24.3389 86.394 24.965C86.8402 25.6754 87.3192 25.9166 88.5996 26.0756C90.5256 26.3147 91.8129 27.1058 92.5633 28.5116C93.0079 29.3441 93.0078 30.9541 92.5633 31.796C92.1324 32.6117 91.085 33.5484 90.2444 33.8694C89.5753 34.1249 89.5515 34.1553 89.5083 34.8088C89.4053 36.3647 87.6012 36.3947 87.6012 34.8406C87.6012 34.2775 87.5772 34.2514 86.6511 33.8095C85.664 33.3384 84.6214 32.3558 84.6214 31.8966C84.6214 31.7512 84.7259 31.4832 84.8534 31.3011C85.2227 30.7737 85.9048 30.8647 86.8379 31.5658C87.5371 32.0912 87.7274 32.1618 88.443 32.1618C89.3797 32.1618 89.9381 31.9161 90.4888 31.2618C91.029 30.6198 91.0298 29.682 90.4904 29.0411C89.9672 28.4193 89.679 28.2852 88.5172 28.123C86.4075 27.8287 85.1913 27.0881 84.4808 25.6655C84.0536 24.8102 84.0043 23.4662 84.3683 22.5981C84.7318 21.7309 85.7339 20.751 86.6422 20.3745C87.4363 20.0454 87.4522 20.0269 87.4522 19.4288C87.4522 18.5935 87.7839 18.1568 88.4184 18.1568C88.6948 18.1568 89.0236 18.2594 89.1491 18.385ZM110.546 31.3531C114.192 35.0065 117.327 38.0558 117.511 38.1294C118.018 38.3315 118.479 38.047 119.306 37.0221C121.726 34.0248 123.363 30.5468 124.055 26.9372C124.288 25.724 124.292 25.5404 124.092 25.1845L123.869 24.7868L113.892 24.7487L103.916 24.7105L110.546 31.3531Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.0296 0.166536C19.9817 0.744175 15.7594 2.52861 12.758 4.92993L12.0876 5.4666L13.0686 6.59918C13.608 7.22204 14.1249 7.72452 14.2171 7.71586C14.3093 7.70703 14.8808 7.34085 15.4869 6.90203C17.7311 5.27783 20.7391 4.01683 23.7001 3.45889C25.6226 3.09664 28.9161 3.10389 30.8901 3.47464C38.3073 4.86784 44.2818 10.0779 46.6185 17.1905C47.5249 19.9496 47.6404 21.2688 47.6404 28.8594V35.6078L46.9266 34.9095L46.213 34.211L45.0708 35.3497L43.9288 36.4884L46.5747 39.1267L49.2206 41.765L51.8665 39.1267L54.5125 36.4884L53.3704 35.3497L52.2283 34.211L51.5254 34.8989L50.8223 35.5868L50.7599 27.8045C50.6981 20.0877 50.6942 20.0079 50.2922 18.3662C49.1111 13.5449 46.8915 9.67141 43.4312 6.39246C40.148 3.28147 35.8289 1.0935 31.4432 0.319533C29.4352 -0.0349911 25.9458 -0.106999 24.0296 0.166536ZM2.60404 7.88949L0 10.4897L1.12843 11.6147L2.25671 12.7399L2.85846 12.0872C3.18951 11.7283 3.51662 11.4346 3.58536 11.4346C3.6541 11.4346 3.71051 14.6784 3.71083 18.6432C3.71146 26.393 3.77293 27.1948 4.58737 30.0626C6.59551 37.1337 12.2807 43.1568 19.2673 45.6148C21.1746 46.2859 23.0622 46.6885 25.3461 46.9113C29.9571 47.3613 35.3936 46.0763 39.4373 43.5805C41.0024 42.6146 42.2677 41.6782 42.2677 41.4858C42.2677 41.3349 40.555 39.2726 40.3684 39.1989C40.3041 39.1735 39.6919 39.5564 39.0078 40.0499C37.3279 41.2616 34.5899 42.541 32.4313 43.1231C30.8861 43.5397 30.301 43.6136 27.9667 43.687C24.9788 43.7809 23.4259 43.5934 21.0713 42.8544C15.0272 40.9576 9.88505 35.9132 7.91547 29.9486C6.98361 27.1268 6.97935 27.0801 6.91393 18.919L6.85309 11.3558L7.57572 12.0609L8.2982 12.7659L9.43975 11.6278L10.5811 10.4897L7.9771 7.88949C6.54495 6.45958 5.33608 5.28949 5.29057 5.28949C5.24506 5.28949 4.03619 6.45958 2.60404 7.88949ZM31.7821 12.8714C29.5351 13.6493 26.7439 14.6095 25.5798 15.0055L23.4631 15.7253V21.9156V28.1057L23.9766 28.2877C24.259 28.3878 26.9791 29.3177 30.021 30.3544C33.0629 31.3912 35.7047 32.3041 35.8915 32.3833C36.0784 32.4626 36.2739 32.4848 36.326 32.4328C36.3782 32.381 36.4209 30.3676 36.4209 27.9589V23.5795L37.8036 23.5339L39.1862 23.4884V21.9127V20.3371L37.8036 20.2915L36.4209 20.246V15.8403C36.4209 11.7451 36.4014 11.4354 36.1443 11.4459C35.9921 11.4522 34.0292 12.0937 31.7821 12.8714ZM14.9331 16.4376C14.6306 16.5891 14.2216 16.954 14.0244 17.2485C13.6744 17.771 13.6657 17.8827 13.6664 21.8967C13.6668 25.7227 13.6888 26.0452 13.981 26.523C14.5996 27.5349 15.0291 27.6627 17.8138 27.6633L20.3026 27.6639V21.9127V16.1616L17.8928 16.1619C15.9139 16.162 15.3847 16.2114 14.9331 16.4376ZM16.8262 34.0709C16.8262 37.2544 16.8349 37.3413 17.219 37.9949C17.6858 38.7891 18.6605 39.3238 19.6415 39.3238H20.3026V35.0695V30.8152H18.5644H16.8262V34.0709Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M174.239 0.161331C172.914 0.383451 171.227 1.2892 170.161 2.35093C167.1 5.40237 167.201 10.3711 170.386 13.3838C174.12 16.9148 180.189 15.7737 182.495 11.1075C183.996 8.07094 183.374 4.61163 180.904 2.25521C179.692 1.09942 178.318 0.399435 176.761 0.144428C175.568 -0.051052 175.505 -0.0506847 174.239 0.161331ZM146.187 2.59712C145.619 2.89585 145.2 3.31694 144.781 4.0127L144.184 5.00333V24.4957V43.9882L144.642 44.9076C145.134 45.8956 145.744 46.4422 146.737 46.7847C147.187 46.9397 150.384 47 158.174 47H168.986V41.2376C168.986 35.7105 169.002 35.4555 169.362 34.9972C169.569 34.7345 170.044 34.4345 170.418 34.3305C170.81 34.2216 173.299 34.1411 176.289 34.1406L181.479 34.1395V25.4154V16.6914L180.386 17.2471C178.609 18.1497 177.539 18.4005 175.508 18.3891C174.175 18.3816 173.343 18.2739 172.477 17.9965C168.291 16.6565 165.301 12.8631 165.003 8.51518C164.86 6.42717 165.142 5.14865 166.352 2.40145C166.432 2.21939 164.439 2.1718 156.725 2.1718H146.997L146.187 2.59712ZM185.413 14.5425C184.882 15.0017 184.875 15.0024 184.496 14.6484C184.114 14.2923 184.111 14.2938 183.106 15.2986L182.099 16.3055L182.469 16.6748L182.838 17.0443L182.397 17.5132C182.105 17.824 181.957 18.1992 181.957 18.6271C181.957 19.2155 182.222 19.5391 184.979 22.3094C186.641 23.9798 188.325 25.5148 188.721 25.7206C189.718 26.2385 191.455 26.1339 192.379 25.5003C193.659 24.623 194.206 22.9947 193.715 21.5172C193.467 20.7705 192.923 20.1347 190.252 17.4681C186.723 13.946 186.358 13.7254 185.413 14.5425ZM163.835 18.1518C164.636 18.5808 164.636 20.3026 163.835 20.7316C163.635 20.8385 161.04 20.9115 157.437 20.9115H151.375L150.995 20.4274C150.479 19.7722 150.507 18.9807 151.065 18.4229L151.516 17.9719H157.507C161.064 17.9719 163.635 18.045 163.835 18.1518ZM174.565 23.497C175.182 23.9827 175.243 25.1264 174.681 25.6882C174.322 26.0478 174.069 26.0557 162.964 26.0557C150.655 26.0557 150.982 26.0823 150.726 25.0623C150.591 24.5225 150.875 23.6971 151.31 23.3665C151.56 23.1769 153.932 23.1266 162.853 23.122C173.938 23.1161 174.087 23.1209 174.565 23.497ZM167.8 28.7114C168.377 29.2879 168.399 30.1916 167.852 30.7748L167.452 31.1999H159.458C151.503 31.1999 151.462 31.1979 151.039 30.8005C150.456 30.2532 150.468 29.3079 151.065 28.7114L151.516 28.2603H159.433H167.349L167.8 28.7114ZM171.926 41.0658C171.926 43.1575 171.994 44.7904 172.077 44.6943C172.161 44.5984 173.731 42.9375 175.568 41.0037C177.404 39.0698 178.907 37.4371 178.907 37.3752C178.907 37.3133 177.336 37.2627 175.416 37.2627H171.926V41.0658Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Wir schalten gezielte Ads auf Meta und den zugehörigen Plattformen,
            optimieren sie laufend und passen die Strategie an, um immer die
            besten Ergebnisse zu erzielen.
          </p>
        </div>
      </div>
      <div class="number-1">4</div>
    </section>
    <section class="konzeption">
      <div class="text-block">
        <h3>
          <span class="launch">Revision<br /></span>
          <span class="sub-h3"
            >ROI_Messung - Insights - Erfolgskontrolle - KPI-Analyse</span
          >
        </h3>

        <div class="text">
          <svg
            width="215"
            height="47"
            viewBox="0 0 215 47"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M23.7645 0.183988C16.3388 1.39852 10.0535 5.7614 6.55947 12.127C5.72469 13.6478 5.67908 14.2304 6.33709 14.9668C6.72125 15.3969 6.93108 15.4953 7.46447 15.4953C8.31244 15.4953 8.57897 15.2408 9.61919 13.4383C11.6503 9.91918 14.3885 7.29933 17.9202 5.4965C27.9961 0.352769 40.2939 4.40236 45.3391 14.5251C46.5334 16.9215 47.4084 20.2164 47.4084 22.3169V23.1421L46.879 22.6315C46.1204 21.8998 45.5652 21.7237 44.8968 22.0031C43.7235 22.4933 43.4802 23.6525 44.3442 24.6365C45.1876 25.5972 48.1181 28.4736 48.4159 28.6331C48.8186 28.849 49.4814 28.8127 49.9825 28.5473C50.5063 28.2698 53.9741 24.7803 54.2331 24.2701C54.7858 23.1815 54.0202 21.9378 52.7977 21.9378C52.2679 21.9378 52.0066 22.053 51.5022 22.5085L50.8706 23.0792L50.7687 22.5696C50.7127 22.2894 50.6668 21.784 50.6668 21.4466C50.6668 20.5131 50.2202 18.295 49.667 16.4801C48.6261 13.0661 46.7257 9.86215 44.1936 7.2529C40.7271 3.68032 36.7117 1.43844 31.9639 0.424615C29.8823 -0.0198193 25.7516 -0.141028 23.7645 0.183988ZM24.096 8.39819C18.1967 9.68539 13.6401 14.0949 12.1877 19.9214C11.7299 21.7583 11.6938 24.9776 12.1105 26.8013C13.3726 32.3251 17.4237 36.6486 22.9242 38.3423C24.2487 38.75 24.5693 38.7831 27.2069 38.7831C29.8452 38.7831 30.165 38.75 31.4911 38.3418C36.8742 36.6844 40.8941 32.4564 42.2181 27.0599C42.6759 25.1933 42.7135 21.9503 42.2971 20.2272C41.1523 15.4906 38.2506 11.8145 34.0042 9.72123C31.7296 8.59988 30.235 8.23381 27.6142 8.15578C25.9665 8.10658 25.1855 8.1605 24.096 8.39819ZM28.151 12.7585C28.591 13.0362 28.8361 13.6045 28.8361 14.3471C28.8361 14.8216 28.9038 14.9019 29.447 15.0706C30.9263 15.5297 32.5831 17.3307 32.5831 18.4796C32.5831 19.3007 31.8433 19.9828 30.9525 19.9828C30.3448 19.9828 30.1861 19.8912 29.4288 19.1029C28.4042 18.0366 27.6225 17.7556 26.4813 18.043C25.1436 18.3797 24.3696 19.7575 24.9298 20.8044C25.1747 21.2617 25.5349 21.4099 27.7093 21.9477C30.0636 22.53 31.0465 22.9984 31.8262 23.9092C32.6442 24.8647 32.967 25.9364 32.8739 27.3867C32.7465 29.3711 31.6211 30.9503 29.7109 31.8248C28.8739 32.208 28.8361 32.2525 28.8361 32.8526C28.8361 34.1416 27.4687 35.0108 26.4177 34.3899C25.8453 34.0517 25.5778 33.5377 25.5778 32.7759C25.5778 32.2686 25.5092 32.194 24.7029 31.8248C23.2005 31.137 21.8307 29.614 21.8307 28.6315C21.8307 27.7922 22.6202 26.9882 23.444 26.9882C24.0051 26.9882 24.5954 27.349 24.9362 27.9007C25.3192 28.5202 26.4228 29.1061 27.2069 29.1061C29.0821 29.1061 30.3364 27.16 29.1961 26.0198C28.834 25.6578 28.3617 25.4765 26.8746 25.1285C24.6602 24.6104 23.575 24.1458 22.8232 23.3939C21.4068 21.9777 21.065 19.6118 22.0047 17.7311C22.5801 16.5797 23.499 15.71 24.7224 15.1589C25.536 14.7925 25.5778 14.7434 25.5778 14.1561C25.5778 13.4065 25.9368 12.8554 26.6168 12.5612C27.1577 12.3272 27.5468 12.3772 28.151 12.7585ZM2.32774 20.5185C0.31345 22.5329 0 22.9156 0 23.3618C0 24.1357 0.307096 24.6612 0.932366 24.9581C1.64675 25.2971 2.12132 25.1764 2.92287 24.4522L3.55677 23.8796L3.66332 24.9858C4.25861 31.1642 6.49577 36.1041 10.5074 40.0993C13.8653 43.4433 17.8189 45.5961 22.4824 46.6198C24.1283 46.9812 28.5754 47.125 30.3292 46.8737C34.406 46.2893 38.379 44.6391 41.5788 42.2014C43.9181 40.4193 46.4339 37.4676 47.8799 34.8081C48.8406 33.0411 48.7207 32.135 47.456 31.6067C46.9511 31.3957 46.8352 31.4016 46.3034 31.6645C45.8516 31.888 45.5297 32.2766 44.9391 33.3111C43.8263 35.2605 42.7189 36.6913 41.1812 38.1663C31.4958 47.4564 15.5213 44.8157 9.24123 32.8864C8.00144 30.5314 7.01352 27.0361 7.00798 24.9848L7.00537 24.0404L7.61859 24.5332C8.4431 25.1958 9.06381 25.2965 9.73747 24.8769C10.4027 24.4628 10.6607 23.9161 10.5271 23.204C10.4465 22.7739 9.9302 22.1641 8.17201 20.4219C5.13657 17.4141 5.43715 17.4092 2.32774 20.5185Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M95.5689 0.438908L95.1483 0.858217V2.99421V5.13021L95.5575 5.52097C96.4485 6.37221 97.7172 6.03926 98.0326 4.87142C98.1297 4.51179 98.1771 3.55697 98.1475 2.55769L98.0972 0.856352L97.6276 0.438047C96.9717 -0.146374 96.1554 -0.145944 95.5689 0.438908ZM80.6891 6.53431C80.275 6.94716 80.1188 7.47822 80.2536 8.01373C80.3879 8.5478 82.8737 11.0363 83.4232 11.1869C84.08 11.3669 84.758 11.1245 85.0826 10.5937C85.6583 9.65223 85.4404 9.16607 83.6707 7.44322C82.4219 6.22761 82.3601 6.18802 81.7088 6.18802C81.1897 6.18802 80.9571 6.26706 80.6891 6.53431ZM110.776 6.35284C110.133 6.72539 107.977 9.04701 107.885 9.46689C107.641 10.5771 108.835 11.5936 109.867 11.1533C110.119 11.0454 110.925 10.3448 111.657 9.59614C112.909 8.31584 112.988 8.19907 112.988 7.63085C112.988 6.80314 112.391 6.18615 111.596 6.19232C111.293 6.19476 110.924 6.26692 110.776 6.35284ZM95.7957 9.00985C90.6026 9.38728 86.1101 12.5679 84.1154 17.2791C82.0943 22.0525 83.0935 27.6911 86.6257 31.4445C87.2 32.0549 87.9931 32.8 88.3881 33.1003L89.106 33.6462V36.5553V39.4642L89.5258 39.9327L89.9456 40.4012H96.5657H103.186L103.627 39.9799L104.068 39.5586V36.6432C104.068 34.0402 104.095 33.7061 104.32 33.5239C107.367 31.0548 108.801 29.0236 109.714 25.8823C109.99 24.9298 110.038 24.4265 110.038 22.4698C110.038 20.5048 109.991 20.0116 109.709 19.042C108.404 14.5467 105.143 11.1035 100.814 9.64936C99.4781 9.2005 97.1878 8.90872 95.7957 9.00985ZM97.6372 15.4893C98.1449 15.9954 98.2025 16.7852 97.7736 17.3597C97.4685 17.7684 97.2742 17.8435 95.8736 18.0948C94.7708 18.2928 94.3205 18.5075 93.5461 19.2052C92.7968 19.8802 92.304 20.867 92.1402 22.0198C91.9912 23.069 91.8291 23.4361 91.3747 23.7535C90.7289 24.2045 89.5108 23.8714 89.2436 23.1708C88.683 21.7003 89.642 18.9007 91.2668 17.2655C92.7133 15.8097 95.086 14.8321 96.7237 15.0172C97.0259 15.0513 97.3833 15.2361 97.6372 15.4893ZM74.919 21.0987C74.428 21.3052 74 21.9595 74 22.5035C74 22.8775 74.1211 23.1213 74.4891 23.4883L74.9783 23.976H76.9421C79.5233 23.976 80.0424 23.7258 80.0424 22.4815C80.0424 22.1216 79.9192 21.8347 79.623 21.5038L79.2035 21.0353L77.2133 21.0031C76.1186 20.9853 75.0862 21.0284 74.919 21.0987ZM113.883 21.2451C113 21.7931 112.887 22.757 113.621 23.4883L114.11 23.976H116.074C118.655 23.976 119.174 23.7258 119.174 22.4815C119.174 22.1216 119.051 21.8347 118.755 21.5038L118.335 21.0353L116.345 20.9941C114.55 20.9568 114.308 20.9815 113.883 21.2451ZM83.0277 33.9927C82.8102 34.1357 82.082 34.8191 81.4093 35.5112C80.2439 36.7104 80.1862 36.8002 80.1862 37.413C80.1862 38.3074 80.7613 38.895 81.6366 38.895C82.2165 38.895 82.3182 38.8238 83.7432 37.42C85.0682 36.1146 85.2499 35.8758 85.3214 35.344C85.3948 34.7979 85.3558 34.6966 84.8947 34.2368C84.308 33.6518 83.6726 33.5688 83.0277 33.9927ZM108.486 34.0199C108.283 34.1789 108.044 34.5285 107.956 34.7966C107.711 35.5356 108.014 36.0558 109.57 37.5681C110.778 38.7422 110.994 38.895 111.451 38.895C112.185 38.895 112.652 38.6404 112.909 38.1003C113.173 37.5451 113.187 37.2636 112.972 36.8413C112.742 36.3903 110.541 34.1779 110.082 33.9356C109.536 33.6481 108.918 33.6808 108.486 34.0199ZM92.0361 43.6171C91.788 43.7679 91.4806 44.0402 91.3527 44.2223C90.8534 44.933 91.2163 46.3593 92.0115 46.8115C92.2647 46.9555 93.347 47 96.5933 47C100.412 47 100.883 46.9743 101.231 46.7469C101.797 46.3774 102.093 45.8477 102.093 45.2069C102.093 44.5358 101.776 44.0052 101.147 43.6226C100.72 43.3628 100.398 43.343 96.587 43.343C92.804 43.343 92.452 43.3642 92.0361 43.6171Z"
              fill="#2B2C33"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M170.864 0.22197C169.563 0.393629 166.216 1.26543 164.226 1.95091C161.335 2.94709 157.432 4.96298 154.953 6.7413L152.783 8.29741L160.198 15.7125L167.613 23.1277L169.257 22.3178C170.162 21.8722 171.391 21.3768 171.989 21.2168L173.077 20.9259V10.4931V0.0600932L172.32 0.0950309C171.904 0.11413 171.249 0.171427 170.864 0.22197ZM180.53 10.4654V20.9308L182.103 21.4383C184.516 22.2172 186.507 23.4985 188.689 25.6772C191.624 28.6084 193.119 31.7127 193.516 35.7012L193.69 37.4432L204.032 37.5039L214.374 37.5645L214.226 34.709C213.88 28.0585 211.382 21.1651 207.184 15.2826C205.579 13.0338 201.971 9.37348 199.517 7.5041C194.528 3.70523 187.552 0.794244 181.903 0.155355L180.53 0V10.4654ZM145.985 15.7086C142.037 21.2098 139.531 28.2809 139.146 35.0048L139 37.5596H149.368H159.737L159.9 35.7545C160.081 33.7414 160.921 30.9839 161.823 29.4355L162.418 28.4153L154.98 20.9771L147.542 13.539L145.985 15.7086ZM173.889 28.4291C171.107 29.391 169.337 30.9639 168.101 33.5714C167.427 34.9959 167.371 35.3013 167.371 37.5596C167.371 39.8725 167.413 40.0903 168.156 41.5709C170.07 45.3833 174.282 47.5869 178.273 46.8632C185.662 45.5233 188.743 36.7658 183.785 31.191C182.562 29.8154 181.473 29.1073 179.624 28.4845C177.88 27.8969 175.495 27.8738 173.889 28.4291ZM180.863 34.4318C181.064 34.6333 181.229 34.9894 181.229 35.2235C181.229 35.8025 175.995 41.0534 175.418 41.0534C175.17 41.0534 174.227 40.4152 173.323 39.6351C172.04 38.5278 171.68 38.0785 171.68 37.5855C171.68 36.1814 172.876 36.0084 174.332 37.2016L175.317 38.0084L177.278 36.037C179.339 33.9657 180.07 33.6385 180.863 34.4318Z"
              fill="#2B2C33"></path>
          </svg>

          <p>
            Jeden Monat bekommst du eine Übersicht unserer Ergebnisse und
            Strategien. Und falls du noch Fragen hast oder Unterstützung
            brauchst, sind wir jederzeit für dich da – mit persönlicher
            Beratung.
          </p>
        </div>
      </div>

      <div class="number-1">5</div>
    </section>

    <style>
      .workflow {
        margin-top: 5%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10vw;
        background-color: white;
        z-index: 5;
      }

      .wave {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
      }

      h2 {
        color: var(--text);
        font-weight: var(--weight-bold);
        font-family: var(--gothic-wide);
        line-height: 0.6;

        position: absolute;
        text-align: center;

        margin-top: 0rem;
      }

      .h2-span-work-1 {
        color: var(--primary);
        font-size: 8vw;
      }

      .h2-span-work-2 {
        color: white;
        font-size: 8vw;
        font-family: var(--spills);
        font-weight: var(--weight-normal);
      }

      .h2-highlight {
        color: #5acfef;
      }

      @media (min-width: 1025px) {
        h2 {
          margin-block-start: 2em;
        }
        .h2-span-work-1 {
          font-size: 5vw;
        }

        .h2-span-work-2 {
          font-size: 5vw;
        }
      }

      h3 {
        font-family: var(--gothic-wide);
        color: var(--text-inv);
        font-size: 4vw;
        font-weight: var(--weight-black);

        line-height: 0.6;
      }

      .sub-h3 {
        font-family: var(--open);
        font-weight: var(--weight-normal);
        font-size: 1vw;
      }

      .text p {
        font-family: var(--open);
        font-size: 1.5vw;
        line-height: 140%;
        max-width: 60ch;

        padding-inline-start: 0;
      }

      .text svg {
        width: 15vw;
        height: auto;
      }

      @media (max-width: 768px) {
        .text svg {
          margin-block-start: -5%;
        }
      }

      .number-1 {
        font-family: var(--gothic-wide);
        font-weight: var(--weight-black);
        color: #5acfef;
        font-size: 40vw;
        justify-content: flex-start;
      }

      .text-block {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid var(--text-inv);
      }

      .erstgespräch {
        padding: 10vw 5vw 0.4vw 5vw;
        display: flex;
        gap: 4vw;
        align-items: center;
        justify-content: space-between;
        margin-block-start: 10%;
      }

      .text p {
        margin-block-start: 0;
      }

      @media (max-width: 768px) {
        .erstgespräch {
          margin-inline: 3vw;
          flex-direction: column;
          align-items: flex-start;
        }

        .number-1 {
          order: -1;
          font-size: 60vw; /* Optional: kleiner machen auf Mobile */
          align-self: left; /* Zentrieren der Zahl */
        }

        h3 {
          font-size: 10vw;
          margin-block-start: -0.8em;
        }

        .text-block {
          width: 100%;
        }

        .text p {
          font-size: 4vw;
        }

        .sub-h3 {
          font-size: 3vw;
        }

        .text svg {
          width: 25vw;
        }
      }

      .konzeption {
        padding: 10vw 5vw 0.4vw 5vw;
        display: flex;
        gap: 4vw;
        align-items: center;
        justify-content: space-between;
        margin-block-start: -10%;
      }

      @media (max-width: 768px) {
        .konzeption {
          margin-inline: 3vw;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .order-1 {
        order: 2;
      }

      .order-2 {
        order: 1;
      }

      .design {
        padding: 10vw 5vw 0.4vw 5vw;
        display: flex;
        gap: 4vw;
        align-items: center;
        justify-content: space-between;
        margin-block-start: -10%;
      }

      @media (max-width: 768px) {
        .design {
          margin-inline: 3vw;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      @media (max-width: 768px) {
        .launch {
          line-height: 1;
        }
      }
    </style>
  </div>
</section>
